[2021-03-13 06:54] #615 closed

[2021-03-13 06:57] anubh-v opened #645 "LoggingService: Improve testing by minimising usage of implementation details in tests"
This will make it easier to refactor LoggingService in future, and the tests become more representative of how the service is used.

(e.g. how to determine the number of sessions logged, by parsing the whole logs' string)

Source: as discussed [here](https://github.com/CATcher-org/CATcher/pull/616#discussion_r592088052)

[2021-03-13 07:11] seanlowjk commented on #641
From what I understand based on the conversation in the Issue, we will just read in the `.json` file from the `public_data` repository of another repo! Am I right to say that o_o

[2021-03-13 08:54] ptvrajsk commented on #641
Erm. A little confused haha. `public_data` is a repo already unless you mean of another org? So we're supposed to read a `.json` from another repository that stores the information about all the "`public_data`" locations (cause each `public_data` repo has info about an entire run of the app [from bug reporting to testerresponse/moderation]).

So for e.g. we have a repo called `client_data` in CATc

[2021-03-13 09:43] seanlowjk commented on #641
Ahhh i see i see. So essentially its like a single source of truth about the appconfig which populates the necessary profiles

[2021-03-13 14:51] #522 closed

[2021-03-14 01:46] anubh-v commented on #636
@ElysiaTanZY are pop-up windows blocked in your Safari settings? If yes, could you try allowing pop-ups and re-trying the CATcher web app in Safari? Thanks!

[2021-03-14 01:59] ElysiaTanZY commented on #636
Hi @anubh-v I just tried and it works. Previously, I was using the setting 'Block and notify' maybe that's why I was still able to open the pop up manually but it just kept on buffering. Thank you!

[2021-03-14 03:53] #635 closed

[2021-03-14 04:11] #632 closed

[2021-03-14 07:42] #642 closed

[2021-03-14 09:21] seanlowjk commented on #629
It would be better to make it a hint!

So if the user still decides not to fill in any details, would the default value still be `No details provided.` ?

[2021-03-14 09:40] damithc commented on #629
I think it is fine to save 'no details provided' in the backend if the user doesn't give any details, as long as we don't put the burden of deleting this placeholder text on the user.

[2021-03-14 11:31] #636 closed

[2021-03-15 04:21] ptvrajsk opened #650 "Add Version Indicator (App + Logs)"
We should add a text in the app indicating the current version incase roll-backs are necessary or older versions of the app are cached in the user's browsers.

This should also be stated in the logs for clarity.

[2021-03-15 04:28] ptvrajsk opened #651 "Update Dev Notes: Release Procedure"
Update Dev notes on current procedure regarding releases.

[2021-03-15 04:32] kkangs0226 opened #652 "Make 'Download Logs' button visible before login for downloading authentication logs"
Users are only able to download logs after they are logged in, which means we will not be able to view authentication logs when they cannot log in in the first place.

We could make 'Download logs' button visible before login so users can download authentication logs even if they are unable to log in.

[2021-03-15 05:40] damithc commented on #652
Note that 'download logs' is not a major feature and not a part of the main workflow. So, we don't want to show it too prominently on too many places either.

[2021-03-17 03:22] kkangs0226 commented on #652
Perhaps we can make it less conspicuous before log in, or just resize the button in general across the entire app?  The button looks like this at the moment:

![image](https://user-images.githubusercontent.com/66008784/111409976-dd7c3d00-8712-11eb-978d-44eb9652ce81.png)

If we do not want it to be too conspicuous, I think we can consider relocating the button to somewhere other than the top bar. W

[2021-03-17 03:24] kkangs0226 opened #653 "Include steps to enable pop-ups in Safari in Usage Notes"
Pop-ups are blocked by default on Safari.

Safari users should be guided on how to enable pop-ups in their browser before using CATcher.

[2021-03-17 17:17] damithc opened #655 "Include version number in issues created"
Currently, we include a session ID in the issues created by CATcher. It is embedded in the issue body, as an HTML comment. Can we also add anther such comment specifying the CATcher version used e.g., `` ``
Reason: It helps detect cases of using outdated versions, but also, gives us a way to confirm students have smoke-tested both versions.

[2021-03-19 01:58] anubh-v commented on #655
Sorry for the late response. It will not be much work to support this.
I can complete it over the weekend (also open for anyone in @CATcher-org/2021-devs )

[2021-03-19 02:03] damithc commented on #655
Thanks @anubh-v
Students will start testing CATcher today. So, I wont be able to use this feature this round but it's OK. I can still use the session ID to check if there have been two different sessions by each student.

[2021-03-19 02:47] dingyuchen commented on #655
Happened to start working on this issue this morning and already made a PR.
I'll go ahead and assign myself, @CATcher-org/2021-devs do give a review when you have the time

[2021-03-19 06:48] ptvrajsk commented on #639
Another Idea is to simply add https://probot.github.io/apps/release-drafter/. To our CAtcher repo and it will automatically create a changelog based on the PRs we've merged and even categorize them based on labels we set to our PRs. Does what we want and requires minimal setup time.

[2021-03-19 12:35] seanlowjk commented on #604
Also, I think it would be good if there is a way to reorder the imports as well, as it would slightly help with the code quality in our codebase. Should we add on to the to-dos for this PR or create a separate PR for this? @CATcher-org/2021-devs

[2021-03-19 13:46] dingyuchen opened #658 "Add Tests for IssueService and GithubService"
We don't have tests for methods in IssueService and GithubService.
We can make separate PRs to add tests for each

- [ ] IssueService
- [ ] GithubService

[2021-03-19 13:56] dingyuchen commented on #652
I think for a short term measure, we can have the download-log button to only be the icon, with the name appear on tooltip upon hovering to reduce the visual footprint.
This might work since we don't have that many buttons on the headerbar yet, however it is also possible that students will think that the icon is not interactive.

In the future, we can consider having a kebab menu or hamburger men

[2021-03-19 14:11] seanlowjk opened #660 "Pre-push hooks: Add e2e tests"
When we have developed a good structure for `e2e` testing and that we add more tests, it would be good to include it as part of our `pre-push` hook such that the interactions are still usable.

This is important when we go into feature requests, which might require us to edit the user interface when needed.

[2021-03-19 14:34] dingyuchen commented on #604
We can add [ordered-imports](https://palantir.github.io/tslint/rules/ordered-imports/) into our tslint ruleset for this! It has a fixer as well so we don't have to fix the lint errors manually, especially since `prettier` does not format to this rule.

I think since this pertains to formatting across the codebase we can open a new issue for the import ordering, and add that, #604 and #624 into a p

[2021-03-20 04:11] anubh-v commented on #660
My main concern would be that the push process gets slowed significantly due to the e2e tests, especially since we sometimes just push to "save" our interim work in GitHub.

[2021-03-20 06:08] seanlowjk commented on #660
Ah I agree with your point, cause I also had issues setting up with the e2e testing.
Also, that e2e takings a pretty long time to run.

Maybe we can just leave the e2e tests in our CI ba ><

[2021-03-20 06:08] #660 closed

[2021-03-20 07:44] seanlowjk commented on #641
I have found a simple way to do this, however it might cause a huge issue with regards to how we are processing the logging in

1. We are currently sending 1 **unauthenticated** request to get the latest version of `CATcher`
2. We are sending another **unauthenticated** request to get the settings file from the relevant repository with regards to the setting up of the `Phases` in the session

If w

[2021-03-20 08:42] seanlowjk commented on #629
Think a better way for now would be to remove this unnecessary placeholder text!

[2021-03-20 08:49] seanlowjk commented on #658
For `GithubService`, I think we can consider using [nock](https://github.com/nock/nock) in order to simulate the GttHub API Requests via `octokit` ! Any thoughts about `nock`? :O

[2021-03-20 09:09] damithc commented on #641
**Is this a problem already?** Will CATcher fail if several hundreds of users login to the Web version at the same time? There were no such problem last time although most students used the desktop version last time.

[2021-03-20 09:15] anubh-v commented on #641
The rate limiting occurs separately for each user. If any single user refreshes CATcher's session selection page more than ~30 times within an hour, GitHub might block further requests from their IP address (for an hour, most likely).

Other users would not be affected.

[2021-03-20 12:39] seanlowjk commented on #641
Yes Yes! With

Aka to put the retrieval of the profiles from an external `client_data` repository which requires an **unauthenticated request** as it would take place when the user first starts up the application or webpage for `CATcher`?

[2021-03-20 13:27] damithc commented on #641
This can even be a normal http request, right? Like reading a web page?

[2021-03-20 15:34] anubh-v commented on #641
Yes, this should be possible.

@seanlowjk let's try fetching the profiles' data via a direct HTTP request to the json file's URL on GitHub.
(instead of using the GitHub API).

Example: we can make a GET request to [this file](https://raw.githubusercontent.com/anubh-v/json-data/main/data.json), which is some JSON data on [my repo here](https://github.com/anubh-v/json-data)

[2021-03-20 20:12] onnwards opened #663 "Bug: No way to recover from clicking on invalid markdown link"
Upon clicking an invalid markdown link in markdown preview, Web Version throws error, and Desktop Version just shows a white screen. Only way to recover is to restart the app, losing all typed progress on the current issue being reported.

Screenshot of error on Web:
![image](https://user-images.githubusercontent.com/59121471/111883920-237a1f00-89f9-11eb-88fd-ef30e7be9d10.png)

Screenshot of Deskt

[2021-03-21 03:06] seanlowjk commented on #641
We should be able to use Angular's HttpClient for this

Alright, Understood!

Neglected the fact that this can be done via a simple HTTP Request :sweat_smile:

Thanks! @anubh-v and Prof @damithc !

[2021-03-21 03:11] damithc commented on #663
Thanks for reporting this @onnwards
The dev team will look into it.

[2021-03-21 04:00] seanlowjk commented on #629
Also since this is a relative easy issue to fix, should we put this as a `good first issue` for new developers to try this out? As it just requires the removal of the placeholder text from the description field? @CATcher-org/developers

[2021-03-21 06:09] seanlowjk commented on #663
Just to add on to @onnwards 's point, it seems to fail on these two scenarios:

[Link](asdfghjkl)
[Link](www.google.com)

As long there isn't a `https://` attached to the url link, it seems to crash the application..

[2021-03-21 10:51] #653 closed

[2021-03-21 14:18] damithc opened #665 "Tester response phase: support more verification types"
Tester response phase seems to have hard coded the three types of verifications we do now. It is better to allow adding more types.
The template for an item is given below. Parts in UPPER_CASE can be anything.

[code]

[2021-03-21 14:18] damithc commented on #665
@ptvrajsk confirmed this is the case right?

[2021-03-21 14:39] ptvrajsk commented on #665
@damithc

If I recall correctly, we do regex matching for the tester response and display each disagreement as long as it conforms to the response template that you have.

So the verification data can be anything and it would work 👍 I tested it by letting the Disagreement be `something` and fluffing the other data and it works.

![image](https://user-images.githubusercontent.com/39243082/111908933

[2021-03-21 14:43] ptvrajsk commented on #665
@damithc

But the data that comes from the Team Response is fixed to those 3 options I believe. Since the Team can only disagree with the `Severity`, `Type` and `Response`. So it'd be the Team Response that's limiting the possible disagreements technically.

[2021-03-21 14:45] damithc commented on #665
Thanks for checking @ptvrajsk After some more experimentation, it looks like `Team chose` is a key phrase that must be present. It doesn't work if I remove it. What is the exact things that should be there for it to be recognized as an item to verify?

[2021-03-21 14:49] damithc commented on #665
This is what I'm trying to do. Doesn't seem to work though. Probably the regex is too strict.

[code]

[2021-03-21 14:50] damithc commented on #665
Not in this case. I'm trying to get the tester to verify the duplicate status of an issue.

[2021-03-21 15:15] ptvrajsk commented on #665
Yes the regex is strict with the `Team chose` part and it also does not allow any other data added between the `Team Chose` and `I disagree`.

---

Does this extra data belong to the Teams Response? Because this can be added under the `#Team's  Response` and it should work.

---

I've managed to get it working when the extra data is not put placed inbetween the keywords. `Team Chose` is a required

[2021-03-21 15:33] damithc commented on #665
I'll try that. Might be good enough.

[2021-03-22 03:36] seanlowjk commented on #663
@damithc Just curious, will it be alright if we override the markdown to HTML renderer such that it becomes 'disabled' if an invalid link is given, so that we prevent these kind of invalid routes to be passed through?

[2021-03-22 03:44] damithc commented on #663
If no other choice. It's best to avoid hacking/overriding existing library functionality if possible.

[2021-03-24 08:17] kkangs0226 opened #667 "Add Onboarding Guide for new developers"
As the current dev team members transit to the "Managing" phase, it will be good to include an onboarding guide for new developers.

Things to include in Onboarding Guide:
1. Introduction to tools/frameworks used in CATcher
2. Links to references/guides for above tools/frameworks
3. "Tutorials" for new developers to get them started on small tasks/good first issues

@CATcher-org/2021-devs Feel fre

[2021-03-25 16:07] #415 closed

[2021-03-26 03:46] damithc opened #670 "Session ID becomes undefined, after switching phase"
Created a bug report today and encountered this. Was something changed in the web version?

![image](https://user-images.githubusercontent.com/1673303/112574225-d9de6980-8e28-11eb-8d35-a2b180a47dab.png)

[2021-03-26 03:52] damithc commented on #670
Seems to affect both Web and Desktop version

[2021-03-26 04:16] anubh-v commented on #670
Are you observing multiple instances of this bug?
I'm not able to replicate this on the web and desktop version.
![image](https://user-images.githubusercontent.com/35621759/112576309-fc728180-8e2c-11eb-8c01-3e6dd6265445.png)

[2021-03-26 04:45] damithc commented on #670
Yes, from two computers.
One thing different today is that I have multiple phases open and bug reporting is not the default phase. Perhaps that's the reason?

[2021-03-26 04:48] damithc commented on #670
Confirmed. The session ID seems to become undefined when switching to a different phase.
It's not urgent as students will not have multiple phases open at the same time.

[2021-03-26 16:26] anubh-v commented on #670
Yes, the session ID currently gets reset upon a phase switch, which causes this behaviour.

[2021-03-26 17:35] anubh-v commented on #645
I've increased this issue's priority as it will be preferable for new features to be quickly covered by tests.

[2021-03-29 14:58] #650 closed

[2021-03-31 08:51] #651 closed

[2021-03-31 09:00] damithc opened #673 "Admin guide: update outdated repo-setup info"
This sections seems outdated https://github.com/CATcher-org/CATcher/blob/master/docs/setup-notes.md#set-up-access-rights
e.g., no need to set up a repo named `pe`.

Related: The terminology I use in my modules is `pe`, `pe-dev-response`, `pe-moderation`

[2021-03-31 10:39] #578 closed

[2021-03-31 11:13] #631 closed

[2021-04-01 10:02] anubh-v opened #674 "Clicking 'No thanks' in permission prompt does not prevent repo creation"
(This bug is a recent regression; it is not present in V3.3.7)

To replicate this bug:
- Delete your bugreporting repo
- Log into CATcher
- At the prompt below, click "No thanks"

![image](https://user-images.githubusercontent.com/35621759/113277777-abbec500-9313-11eb-84cb-6e30dba3d3a8.png)

The app will create the bugreporting repo anyway, and proceed as if we clicked "Yes".
Correct behaviour: Ap

[2021-04-04 01:57] dingyuchen opened #679 "Add more information in Logs"
Upon encountering an exception, the current logger will only log the error message, which does not provide enough information to determine the cause of the problem.

Let's log the stack trace of an exception when it occurs.

[2021-04-04 09:13] anubh-v opened #680 "Session selection page: Remove unauthenticated API calls"
We should re-design the session selection page, such that the unauthenticated API calls (for retrieving the latest version number and session data) are performed after the user authenticates via GitHub OAuth.

This is because the GitHub is much more generous with the API usage once authentication is done.

One caveat is that, if the user is using an outdated version of CATcher, they will only be i

[2021-04-04 09:15] damithc commented on #680
That should be fine. In fact, the version check may not even be needed after we switch completely to the Web version, right?

[2021-04-04 09:20] anubh-v commented on #680
Yes, we can remove the version check entirely, as its purpose was to ensure users use the latest version of the desktop app.

[2021-04-04 11:34] dingyuchen opened #681 "Repo Creation Service and supporting multiple open phases"
## On supporting multiple open phases

Current phase is set to be the first element in the array of openPhases.
In the case where an `admin` would like to view issues in the `testerResponse` phase for example, they would need to create a bug-reporting repo in order to log in, which they do not have the permission to. Therefore the `admin` will be blocked from logging in.

If we would like to suppo

[2021-04-04 13:14] dingyuchen commented on #655
Closed by #656

[2021-04-04 13:14] #655 closed

[2021-04-05 15:07] #670 closed

[2021-04-05 15:48] #549 closed

[2021-04-09 16:03] #674 closed

[2021-04-10 10:41] ptvrajsk commented on #93
Since this just needs some refactoring of the `Label` Model and `LabelService` for a more accurate color retrieval this can be a good first issue for new comers.

[2021-04-11 16:03] ptvrajsk commented on #595
This issue can be solved with a refactoring of the `storeSessionData()` function to remove the redundant check as mentioned in the issue description. Might be a good starter `Medium` difficulty issue.

[2021-04-15 06:51] arsatis opened #684 "Unable to create PE repo with CATcher web version"
Hi there,

This morning, I've tried to perform the series of steps indicated in the PE instructions email, but encountered a bug when I was trying to setup the PE repo:

![image](https://user-images.githubusercontent.com/55139982/114802070-9e074600-9dcf-11eb-811c-25661d10f7fd.png)

Can I check what could be causing "TypeError: o.addEventListener is not a function" to pop out?

[2021-04-15 07:03] damithc commented on #684
An update https://github.com/nus-cs2103-AY2021S2/forum/issues/313#issuecomment-820167776

[2021-04-15 07:09] dingyuchen commented on #684
Hi @arsatis, if you don't mind, could you visit the localStorage on your browser and paste the logs here, after encountering the error?

In chrome, this would be `Ctrl+Shift+C` > Application tab > Local Storage. Key would be 'CATcher-Log'

[2021-04-15 07:36] arsatis commented on #684
====== New CATcher Session Log ======
15/04/2021, 09:45:59
AppConfig,[object Object]
Mode web
Starting authentication
TypeError: o.addEventListener is not a function

====== New CATcher Session Log ======
15/04/2021, 14:49:39
AppConfig,[object Object]
Mode web
Starting authentication
TypeError: o.addEventListener is not a function
Starting authentication
TypeError: o.addEventListener is not a func

[2021-04-15 09:37] anubh-v commented on #684
@arsatis can I check if your browser allows pop-ups from the CATcher web app?

[2021-04-15 10:11] kkangs0226 commented on #684
@arsatis  It is likely because you are using ad-blockers in Chrome, which blocks pop-up windows. The ad-blockers are disabled by default in incognito mode, which allows you to proceed with the authentication process! Please help us check if your ad-blockers are enabled :)

[2021-04-15 10:20] #577 closed

[2021-04-15 10:21] arsatis commented on #684
Yep @anubh-v @kkangs0226, the issue seems to be caused by the pop-up blocker which I have installed on my browser. I recall having whitelisted CATcher for mock PE 🤔, but maybe I have accidentally removed the website from the whitelist.

Thanks for your help!

[2021-04-15 10:21] #684 closed

[2021-04-15 10:50] kkangs0226 opened #685 "Usage Notes: Include reminder & FAQ regarding disabling ad-blockers when using CATcher"
For Usage notes let's include:
- a reminder for students to disable ad-blockers when using CATcher
- error that will be shown when pop-ups are not enabled under FAQ

[2021-04-15 17:42] #685 closed

[2021-04-15 17:44] anubh-v commented on #685
I've added the reminder. We don't have a FAQ section currently, and I don't think we need to create one specifically for this issue (perhaps when we have more content for the FAQ?)

[2021-04-17 02:53] tlylt opened #687 "Error when opening CATcher for CS2103T PE Dev Response phase"
Initially could not log in with the error of `cannot locate labels`.
Subsequently managed to log in after a few tries and was greeted with the following:
![image](https://user-images.githubusercontent.com/41845017/115099791-cd05ef00-9f6a-11eb-970f-f597bccb83ab.png)

[2021-04-17 03:02] damithc opened #688 "Error while accessing dev response"
I'm getting this error when accessing CS2103 PE dev response phase. I don't get it when accessing TIC4002 one though.

![image](https://user-images.githubusercontent.com/1673303/115099868-54ebf900-9f6b-11eb-9242-cc1728f5926d.png)

There was a few failed attempts earlier due to misconfigured repo permission though, if that is relevant. So far, students haven't reported this problem.

[2021-04-17 03:04] damithc opened #689 "Dev response phase: wrong error message when no write permissions to the repo"
Student reported this error:

Reason: students given read access to the issue tracker when it should be write access

Wrong error message?

[2021-04-17 03:18] damithc commented on #687
@tlylt Thanks for the bug report. The initial problem was due to misconfiguration on my side. This error message could be due to the initial failed attempts. The CATcher team will investigate. In the meantime, are you able to proceed after closing the error message?

[2021-04-17 03:23] tlylt commented on #687
Hi prof, viewing of issues is fine after closing the error message. Not ready to respond to bug reports yet so not sure about that functionality.

[2021-04-17 03:29] damithc commented on #687
Thanks for the update @tlylt Let us know if you encounter further errors.

[2021-04-17 06:24] ptvrajsk opened #690 "Logging Settings Location"
It would be good to log the session that a user attempts to authenticate with for easier troubleshooting.

In the case below

[code]

The first login faliure was due to a mis-entry of the settings location.

[2021-04-17 07:54] anubh-v opened #692 "Error incorrectly thrown when bugreporting phase is not the first open phase"
This bug is a recent regression, not present in V3.3.7.

The error below is thrown when the bug reporting phase is not the first open phase specified in `settings.json`
![image](https://user-images.githubusercontent.com/35621759/115105892-48c86180-9f94-11eb-989b-8f947ddefd64.png)

[2021-04-17 08:13] anubh-v commented on #687
@tlylt we've made a fix to this bug. Could you re-try the [web app](https://catcher-org.github.io/CATcher/) and let us know if the problem is resolved?

[2021-04-17 08:16] tlylt commented on #687
@anubh-v I think it is resolved. Thanks for the quick response.

[2021-04-17 08:34] anubh-v opened #693 "Improve label synchronisation to handle large number of labels on repo"
In our current usage of the GitHub API, we might not retrieve all the labels on the repo.
This can affect the label synchronisation process, as some of the required labels may not have been retrieved.

We should ensure that the app can fetch all the labels defined on the repo.
Some investigation is needed on how this can be achieved with the API.
[Relevant API documentation](https://octokit.github

[2021-04-17 08:35] anubh-v commented on #688
Duplicate of #687

[2021-04-19 05:18] natosy opened #694 "Glitching of "Issues Responded" List"
During this phase of the PE, my team and I have been submitting responses to our issues.

On my end of things, there will be a few seconds where the "responded issues" section will shrink to only 5 issues, and then revert back to the full list after a while. This has happened multiple times. I have attached screenshots for your reference below.

During the glitch:
![Screenshot 2021-04-19 at 1 09 0

[2021-04-19 05:36] natosy commented on #694
I just realised that in the first screenshot, not just the "Issues Responded" list has been affected, but also the "Issues Pending Response" as well. It shows issues that have already been responded to. (i.e. Everything except the 5 that are in the "Issues Responded" section)

[2021-04-19 06:33] damithc commented on #694
@natosy how often does this happen?

[2021-04-19 06:38] natosy commented on #694
Hi Prof, from what I have experienced, the frequency of this glitch is not consistent. There are times where these glitches happen back-to-back and other times where CATcher works completely fine for an interval of a few minutes.

I can't be completely sure, but I have a feeling that this may be due to concurrent accessing of these lists of issues on CATcher by my teammates and myself.

[2021-04-19 06:45] damithc commented on #694
Thx for the details @natosy If you get a chance, ask if your team members are experiencing a similar issue.

[2021-04-19 08:50] damithc commented on #693
On a related note, ensure that our test cases cover situations where one fetch is not enough.

[2021-04-19 09:25] kkangs0226 commented on #694
CATcher classifies the issues into different tables by using filters. For example, for the 'Issues Responded' table, we will filter out those without any team responses, so that only those issues with team responses are left in the table. In the screenshots you provided, all the issues in the 'Issues Pending' table have no labels for team response, and the issues in the 'Issues Responded' table al

[2021-04-19 10:02] kkangs0226 commented on #693
I just realised this is probably related to the issue Natasha submitted #694!

[2021-04-19 15:45] #641 closed

[2021-04-22 09:42] #673 closed

[2021-04-23 14:50] #644 closed

[2021-04-24 17:10] #692 closed

[2021-04-25 02:57] #667 closed

[2021-05-13 00:36] dingyuchen opened #695 "Package versions causing type errors in CI workflows"
Some updated versions of packages are incompatible, causing various GH Action workflows to fail.
eg:

[code]

[2021-05-13 04:44] #695 closed

[2021-05-13 05:10] #553 closed

[2021-05-19 14:51] #600 closed

[2021-05-21 16:20] damithc opened #697 "Docs: Add contents to the 'Design' page"
Add contents to this page https://catcher-org.github.io/dg/design.html
At least an overview of the high-level design, to start with.

[2021-05-21 16:22] damithc opened #698 "Docs: remove redundant documentation"
Remove redundant documentation from this repo and point to https://catcher-org.github.io/ instead

[2021-05-21 16:23] damithc opened #699 "Docs: Unify duplicate info about release management"
The two sections in https://catcher-org.github.io/dg/project-management.html can be unified into one?

[2021-05-21 16:26] damithc opened #700 "Docs: suggest some tasks new contributors can do to self-test knowledge"
Perhaps we can suggest some small tasks new contributors can do to self-test their understanding of the code base?

We can add them in https://catcher-org.github.io/dg/setting-up.html

Examples from RepoSense https://reposense.org/RepoSense/dg/learningBasics.html

[2021-05-22 03:40] damithc opened #701 "Docs: give some guidance on using MarkBind"
In the dev docs, we should mention the use of MarkBind for documentation and give some pointers on how to use it.

[2021-05-24 05:44] #679 closed

[2021-05-24 06:09] #698 closed

[2021-05-24 08:21] damithc commented on #701
Fixed by 169041db4d7e4ea99db4b587b7117a8b272553e6

[2021-05-24 08:21] #701 closed

[2021-05-26 05:55] anubh-v commented on #699
The second section was meant to be a checklist, in case someone is performing the release manually.
The first section describes how the perform the automated release.
But we can rephrase the page, as there is some overlap.

[2021-05-26 07:53] anubh-v opened #704 "Services: Add header comments giving an overview of the service's responsibilities"
This will aid developers who are new to the codebase.

- [ ] AuthService
- [ ] DataService
- [ ] ElectronService
- [ ] GithubService
- [ ] IssueService
- [ ] LabelService
- [ ] LoggingService
- [ ] PhaseService
- [ ] UserService
- [ ] UploadService

[2021-05-27 12:22] #697 closed

[2021-06-01 04:36] #663 closed

[2021-06-09 05:06] anubh-v opened #705 "Update Electron version"
Our version of Electron is no longer being supported by the Electron team, according to their [support policy](https://www.electronjs.org/docs/tutorial/support#supported-versions).

Let's upgrade to the latest stable version.

[2021-06-09 06:39] ducbinh2611 opened #706 "Unable to login into CATcher as a public user"
After cloning and building CATcher in my local computer with `npm start`, the only available session for me was `CATcher` with settings location being `CATcher-org/public_data`.

However, when I log in with my GitHub account, it shows the error `Unauthorized user` which prevents me from going into the application.

<img width="1280" alt="Screenshot 2021-06-09 at 2 17 13 AM" src="https://user-image

[2021-06-09 08:33] dingyuchen commented on #706
Hi, you'd need a settings repo with your role and github username.
Look [here](https://catcher-org.github.io/dg/user-workflow.html#the-settings-repo) for more details. You can simply follow the format in CATcher-org/public_data or the example semester's pe and point the settings location to your `username/repo`.
Hope this helps!

[2021-06-09 18:39] AudreyFelicio commented on #706
Hi @ducbinh2611!
I've just set up `CATcher` for local development and encountered the same issue as well!
You can just fork [this](https://github.com/CATcher-org/public_data) and add your GitHub username and role (`student`) inside the `data.csv` inside the repo.
After that, you can just leave the session empty and type in `{your github username}/public_data` inside the `Settings Location` field.

[2021-06-10 04:03] anubh-v commented on #706
Thanks for the response @dingyuchen , @AudreyFelicio
Let us know if you have further questions, @ducbinh2611 , @AudreyFelicio

[2021-06-10 07:16] AudreyFelicio opened #708 "Persisting Login Session in Local Development"
Hello, can I confirm that `CATcher` currently does not remember login sessions? I've tested this on localhost, electron window, and production website. I'm taking the production website here as an example. If I open the `CATcher` website, log in, and close the website, and reopen again, it seems that I'm automatically logged out and will need to log in again. The same happens also in the electron

[2021-06-10 07:26] #708 closed

[2021-06-12 03:43] anubh-v opened #710 "Web version authentication: Redirect to GitHub, instead of using pop-up"
On the web version, let's redirect users to the GitHub login within the same window, rather than opening a pop-up window for this.

This would be simpler, and would eliminate conflicts arising from browser settings / pop-up blockers on the user's computers.

Edited to explain why this would be simpler:
We will be able to remove code that creates / closes the pop-up, as well as code that allows the

[2021-06-12 07:52] seanlowjk commented on #639
Just to bump, I think we can revisit this issue since it's already after the semester, and compare the pros and cons of using [release-drafter](https://probot.github.io/apps/release-drafter/.) and making a [custom GH bot using probot](https://github.com/probot/probot) and see which step we can use in order to do release automation!

[2021-06-12 11:30] anubh-v opened #711 "Upgrade to Angular v10+"
We should move to newer Angular versions (ideally, v11+ but at least v10+), as the older ones are no longer supported.
Let's do this incrementally (one major version at a time).
Here is a helpful [resource](https://update.angular.io/) for instructions on making the upgrade.
Here's a [link](https://angular.io/guide/releases) to Angular's release policies, and support status for various versions.

[2021-06-17 15:34] zatkiller opened #713 "CATcher documentation down"
Seems like the CATcher documentation is not working. Get a "File not found" error when navigating to the documentation page via the README in this repository.

![image](https://user-images.githubusercontent.com/59414467/122427546-c83dd580-cfc3-11eb-9674-8f354a8a65bd.png)

[2021-06-17 15:48] damithc commented on #713
Thanks for reporting this. The reason is, CATcher docs were written for MarkBind V2 while MarkBind recently released V3 which is not compatible with V2 sites. As V3 is still not quite stable yet, I've fixed CATcher to use V2 for the time being. I'll migrate the docs to V3 when V3 is stable.

[2021-06-17 15:49] #713 closed

[2021-06-19 04:48] AudreyFelicio commented on #711
Hi @anubh-v,
Can I try to take on this issue?

[2021-06-19 09:06] AudreyFelicio commented on #710
@anubh-v
Can I investigate and do this issue?

Basically, we open in the same tab instead of a new tab right for authentication?
And to confirm, once we are logged in to GitHub, it should redirect back to CATcher website in the same tab, right?

[2021-06-19 11:18] kkangs0226 commented on #710
Hi Audrey, to answer on behalf of @anubh-v , currently we are creating a new window for Github authentication, after which the window is closed and users are redirected to the main application window. (You can refer to the `AuthService` class for more details on how the authentication window is created.)

We would like to carry out the authentication logic in the same window, and not create a new

[2021-06-19 14:08] AudreyFelicio commented on #710
@kkangs0226

Thanks for the clarification!
Sure I'll take a look at the `AuthService` and `AuthComponent` and see where can I go from there :smile:!
I'll be taking this issue then if it's okay with other devs 😄

[2021-06-19 15:23] seanlowjk commented on #710
Sounds good to me too, thanks @AudreyFelicio for the initiation! Do feel free to ask any questions if needed!

[2021-06-20 07:44] anubh-v commented on #711
@AudreyFelicio, I think a bit more familiarity with CATcher is needed for this issue. I'll help to suggest a few other issues that you can work on, first.

[2021-06-20 07:46] #688 closed

[2021-06-20 07:46] #687 closed

[2021-06-20 09:54] #706 closed

[2021-06-20 09:55] ducbinh2611 commented on #706
Thank you for your responses @dingyuchen @AudreyFelicio

[2021-06-21 02:43] anubh-v commented on #710
Thanks @seanlowjk , @kkangs0226  for the responses.

@AudreyFelicio , to undersand the app's authentication process, also take a look at [this section of our developer guide](https://catcher-org.github.io/dg/tools.html#oauth-2-0) and the [GitHub documentation for OAuth](https://docs.github.com/en/developers/apps/building-oauth-apps/authorizing-oauth-apps).

Our app uses the "web application flow"

[2021-06-21 02:51] anubh-v commented on #645
@AudreyFelicio you can consider working on this

[2021-06-21 02:52] #611 closed

[2021-06-21 02:56] anubh-v commented on #409
Closing this, as we rely on the browser's spellchecker, when using our web app.

[2021-06-21 02:56] #409 closed

[2021-06-21 02:59] anubh-v commented on #364
Duplicate of #641 , and fixed in PR #661

[2021-06-21 02:59] #364 closed

[2021-06-21 17:18] zatkiller commented on #595
Hi, I did this issue on my forked repository. Was wondering if you would want to create a PR and merge those changes to resolve this issue?

Link to PR: https://github.com/zatkiller/CATcher/pull/3

[2021-06-21 17:19] zatkiller commented on #690
Hi, I did this issue on my forked repository. Was wondering if you would want me to create a PR and merge those changes to resolve this issue?

Link to PR: https://github.com/zatkiller/CATcher/pull/3

[2021-06-22 10:49] seanlowjk opened #719 "Add Pull Request Templates"
Discussion Link: [Discussion #718](https://github.com/CATcher-org/CATcher/discussions/718)

We should consider using Pull Request Templates to help developers better describe the data what they are doing and write good commit  messages such that future developers are able to understand the purpose of that specific squashed commit (of the PR).

It should contain the following

- A Summary of what t

[2021-06-22 16:04] anubh-v commented on #690
Sure @zatkiller , you can create the PR

[2021-06-23 02:30] anubh-v commented on #719
I think this is sufficient.
PRs #675, #668 look like good examples for creating the PR template.

[2021-06-23 05:05] ducbinh2611 commented on #598
Hi, can I work on this ticket as my first issue.

Thank you!

[2021-06-23 05:40] ducbinh2611 commented on #363
May I know whether this issue is still relevant? If yes, can I try to work on it?

Basically, we want to show definitions of different types of labels whenever the user hovers over the label (either with tooltip message or maybe another pop up appears to show more details about that particular label)

[2021-06-23 06:46] seanlowjk commented on #598
Hey @ducbinh2611 !

Sure definitely, do ask us any questions if necessary! All the best! :D

[2021-06-23 07:29] damithc commented on #363
@ducbinh2611 Yes to both :-)

[2021-06-23 09:07] ducbinh2611 commented on #363
@damithc Hi Prof! Since the data config file is not set up yet, for the time being, should I hard-code the definition of each label in the `LabelService`

[2021-06-23 09:27] damithc commented on #363
Yes, that should be fine @ducbinh2611

[2021-06-23 18:32] zatkiller commented on #386
Hi, does this issue still need to be resolved? I can work on it if it still needs to be completed

[2021-06-24 03:14] anubh-v commented on #719
I don't think we should set this as a "first issue", as new contributors might not be familiar with our PR convention :smile:

[2021-06-24 03:16] seanlowjk commented on #719
HAHA alright, fair fair 😆

[2021-06-24 03:55] damithc commented on #386
Yes, go ahead.

[2021-06-24 05:29] zatkiller commented on #386
Ok. Can someone with permission assign this to me as I can't assign it to myself

[2021-06-24 05:49] damithc commented on #386
Assigning not really needed @zatkiller . You can just post here that you'll be working on it and send a PR soon. You can even send a draft PR immediately after to show your intent.

[2021-06-24 15:07] AudreyFelicio commented on #645
@anubh-v
Sure, thanks for the suggestion! I will look into this issue then 😄

[2021-06-24 15:50] #629 closed

[2021-06-24 17:16] AudreyFelicio commented on #645
@anubh-v

Can I clarify some things?
If I'm understanding this issue correctly, basically the objective is to:

1. Get rid of the method `getTrimmedLogCache` in the tests, which implies getting rid of `getFilteredLogCount` in `logging.service.spec.ts`.
2. After we get rid of the above method, we then rewrite the tests to match stored logs against expected logs, as mentioned at the top.

Is my unde

[2021-06-26 09:41] #690 closed

[2021-06-27 03:45] anubh-v commented on #645
Yes. When we improve the tests, the test code itself should not perform any parsing on the logs (which is what `getFilteredLogCount` does). This is because such test code becomes dependent on implementation details and we would also need to spend time checking that the test code itself is correct.

Yes.

Sure.

[2021-06-27 15:07] zatkiller commented on #386
Hi professor @damithc, I can't seem to replicate the issue.

When I ran the CATCher web version locally and go to the Tester's Response Phase, it seems like the "mark issue as Responded" does reappear whenever i send it back to the issues pending response using the `x` icon on a completed issue.

https://user-images.githubusercontent.com/59414467/123549569-48babe00-d79c-11eb-8762-abcd629cabb4.mp4

[2021-06-27 15:15] damithc commented on #386
I guess it got fixed at some point (or perhaps I misreported it). Thanks for checking @zatkiller

[2021-06-27 15:15] #386 closed

[2021-06-27 15:40] zatkiller commented on #507
Hi, can I work on this issue?

[2021-06-27 15:40] zatkiller commented on #506
Hi, can I work on this issue too?

[2021-06-27 16:27] #598 closed

[2021-06-28 05:59] anubh-v commented on #507
Sure @zatkiller

[2021-06-28 08:44] ducbinh2611 commented on #278
Hi, can I try to investigate and work on this issue?

[2021-06-28 09:35] AudreyFelicio commented on #652
@kkangs0226 @damithc @dingyuchen
Hi, is this issue still available?
Can I work on this issue?

[2021-06-30 08:09] zatkiller commented on #658
Hi, does this issue still need to be worked on? I can take this up if needed

[2021-06-30 09:38] seanlowjk commented on #658
We might plan to use a framework to mock the GitHub / Issue service requests.

Let us discuss on how we can implement this before moving forward 😄

[2021-06-30 10:30] zatkiller commented on #658
Hi @seanlowjk, sure thing. I actually looked through the library you suggested, nock and another library fetch-mock and here are my thoughts on them:

[nock](https://github.com/nock/nock)
- Actively updated
- Provides the most functionalities of all the mock request and response libraries I've seen so far

[fetch-mock](https://github.com/wheresrhys/fetch-mock)
- Recommended in the graphql.js repos

[2021-06-30 12:31] #605 closed

[2021-07-01 03:24] zatkiller commented on #237
Hi Professor @damithc, I'm unable to navigate to the link to see the issue

[2021-07-01 03:26] zatkiller commented on #237
Hi Professor @damithc, I'm unable to navigate to the link to see the issue

[2021-07-01 03:33] damithc commented on #237
We can put this on hold for now. Tutor moderation phase is not fully implemented and is currently done outside of CATcher.

[2021-07-01 06:09] zatkiller commented on #693
Hi, I looked into this issue and I think I might have discovered the cause of it.

It seems like the fetching of all labels is automatically paginated and is automatically capped at 30 if the numbers per page or even if the page number is not defined as stated here [link](https://docs.github.com/en/rest/guides/traversing-with-pagination.)

In the current code, when we are fetching labels for a rep

[2021-07-04 07:24] seanlowjk commented on #693
Thank you for your investigation @zatkiller

You are right, the reason why it is unable to retrieve as the current default behaviour is just to retrieve the **default number** of labels in one times fetch.

As a result, we should do this fetch in 'batches'.

You can refer to the relevant code of `fetchAllLabels()` under `GithubService` and let me us know of your approach here :D

[2021-07-04 07:27] seanlowjk commented on #658
I agree with your opinion and personally, I would prefer to use `mock` in the event that we use other API requests not necessarily from GitHub, then it would be a pain to both install `fetch-mock` and `nock` libraries, which isn't ideal.

I think I can start up with some sample examples of how to write these tests and then you can take it from there @zatkiller

Do yall have any thoughts on this? @

[2021-07-04 08:54] zatkiller commented on #693
Hi @seanlowjk , thanks for the update.

I think for now just changing the number of labels in one fetch will be enough to resolve the issue. I also don't think the number of labels used in the PE repositories will go past 100 soon, and hence fetching of the labels in batches need not be worked on for now

I've created a PR for the changes #728

[2021-07-04 09:37] zatkiller commented on #283
Hi, can I take up this issue?

[2021-07-04 12:26] #595 closed

[2021-07-04 18:13] zatkiller commented on #283
Hi Professor @damithc, seems like this issue has been fixed.

As seen in this video here, after assigning someone to an issue and checking the issue board under the issues responded table, it seems like the assignee name is in the correct casing as shown in the video below:

https://user-images.githubusercontent.com/59414467/124395344-36a9c400-dd36-11eb-909d-325fc0e23eff.mp4

However, I also notic

[2021-07-05 01:42] seanlowjk commented on #506
Hi @zatkiller

This is a task that would require a few changes and decisions to be made.

1. How are we going to keep track of the status? Are we going to use `GitHub API` to do so via labels or some other mechanism?
2. In terms of UX, how are we going to design the icons and will it affect the user flow as a result?
3. Would we have to add filters as a result if we were to implement the addition

[2021-07-05 03:48] damithc commented on #283
Yes, it's better if the username is in the correct case. Go ahead and create an issue for it @zatkiller
I'll close this issue in the meantime.

[2021-07-05 03:48] #283 closed

[2021-07-05 05:31] zatkiller opened #731 "Usernames in assignees dropdown list all in lowercase"
Currently, GitHub usernames in the assignee dropdown list are all in lower-casing when choosing who to assign an issue to.

Actual Name:
![Screenshot 2021-07-05 at 1 29 58 PM](https://user-images.githubusercontent.com/59414467/124421963-19f0a900-dd95-11eb-9673-03bc6daf6195.png)

Reflected Name in dropdown list:
![Screenshot 2021-07-05 at 1 30 19 PM](https://user-images.githubusercontent.com/594144

[2021-07-05 09:56] zatkiller commented on #506
Hi @seanlowjk, thanks for the reply.

For the second point raised by benclmnt `For all issues that I have responded, I want to know which issue do I accept, and which issue(s) do I disagree with.`, I believe this feature has already been implemented, as users can see their Response: Accepted, Rejected, Cannot Reproduce, etc. Thus we need not focus on this.

Regarding the first point `For issues th

[2021-07-06 05:06] damithc commented on #506
Thanks for the detailed analysis @zatkiller Good work!
Given how critical CATcher is for the modules it uses (there are critical periods during which we can't afford to have any problems), it's best if we don't add features that we can live without. So, I'm leaning towards not adding this feature for now. What do you guys think?

[2021-07-06 07:37] dingyuchen opened #732 "Representing AuthComponent state using ADT"
# Overview

Algebraic Data Types (ADTs) can be viewed as enum with data. Currently, application state in the AuthComponent is represented by a collection of booleans (isAuthenticating, isOutdatedVersion, etc) which does not appropriately and intuitively translate into the state of the application.
State is determined by programmatically checking for some collection of booleans, (!isOutdatedVersion

[2021-07-08 05:43] ducbinh2611 commented on #363
Hi Prof @damithc , with regards to showing the definition as a modal pop up dialog as well as formatting the content, I think what we can do for the formatting of the content is to inject the HTML template (with the formatting) of each required label as data to the the pop up dialog. Then we can make use of the `innerHTML` property of the HTML template of the pop up dialog to display the content a

[2021-07-08 05:50] damithc commented on #363
No objections from me, if @CATcher-org/2021-devs are OK with this approach :-)

[2021-07-08 13:15] zatkiller commented on #506
Hi professor @damithc,

I agree with your reason. Since the feature would not be a significant upgrade on the user experience (in my personal view) either, we can avoid adding it for now.

If more students do raise the need for a feature like this, perhaps we can reconsider adding this feature then.

[2021-07-08 13:24] damithc commented on #506
Thanks @zatkiller I've put this issue `s.OnHold` for now.

[2021-07-08 13:40] zatkiller commented on #179
Hi, does this issue still need to be worked on?

[2021-07-08 13:45] damithc commented on #179
@zatkiller Are you able to reproduce the reported behavior?

[2021-07-08 13:58] zatkiller commented on #179
@damithc yes. The issues still get displayed after closing them

[2021-07-08 14:00] damithc commented on #179
@zatkiller given the initial report is very brief, could you post the exact steps to reproduce the problem?

[2021-07-08 14:04] zatkiller commented on #179
@damithc Sure. To reproduce the issue:

1. Find an issue currently displayed in CATcher issues table and note down the issue number
2. Find the issue with the same issue number on GitHub and close it via GitHub
3. Press sync on CATcher to reload the issues table

Expected result: Issue no longer appears since it has been closed
Actual result: Issue is still displayed on CATcher

[2021-07-08 14:14] zatkiller commented on #179
@damithc Attached a video to reproduce the issue in the above comment. The issue seems to only happen when clicking sync. Issue does not display as expected once i switch out and back into the team  response phase

[2021-07-08 14:34] damithc commented on #179
Thanks for the investigation and explanation @zatkiller
I guess the incidence of this problem will be quite low as students are not even supposed to do anything using the GitHub interface. We can still fix it if the cost of the solution is low. So yes, you can next explore possible solutions, if you are still interested to work on this issue.

[2021-07-08 14:40] zatkiller commented on #179
@damithc I agree, i don't think this will be an issue if students don't edit issues via GitHub directly.

Still, I'll look into the issue to see how it can be addressed and if it requires a lot of effort to be fixed

[2021-07-10 13:24] anubh-v opened #735 "DataService: Improve readability by specifying method return types"
Most of the methods used to parse the `data.csv` file have a vague return type (such as `{}` )
Readers have to delve into the internals of each method to understand the structure of the returned object.

Perhaps we can define some readable return types for these methods, so that they are easier to understand?

[2021-07-10 13:26] anubh-v commented on #735
@zatkiller feel free to take this up

[2021-07-10 13:34] zatkiller commented on #735
@anubh-v Sure no problem. I can make a separate PR for this

[2021-07-10 17:44] ducbinh2611 commented on #278
After some lookup through the code, I found the following:

The Bug Testing requires fewer labels than the other 3 phases, but currently when creating the repo for Bug Testing, it is creating other unnecessary labels that are not used for Bug Testing Phase (`response.*` labels). This is because of the `synchronizeRemoteLabels()` method in `LabelService`, ensuring that the remote repo has all the l

[2021-07-11 04:09] damithc commented on #278
Sorry, I missed this earlier. Thank for the investigation so far @ducbinh2611

Having extra labels is not a big problem. So, we can leave this alone if it cannot be done easily.
There is no need to change labels at each phase. If we can prevent creating the totally unused label from the very start, that should be enough.

[2021-07-11 08:10] anubh-v commented on #732
For the booleans used to track version-related state, I suggest either leaving them unmodified or removing them entirely. We could simply use notification pop-ups (as shown below) to communicate version-related errors, which removes the need for these boolean variables.

![image](https://user-images.githubusercontent.com/35621759/125187471-6a1eae00-e262-11eb-8c5a-16aef7dbac8b.png)

[2021-07-11 10:09] anubh-v commented on #401
Closing this, since Protractor is sufficient to test the web version of our app

[2021-07-11 10:09] #401 closed

[2021-07-11 10:11] anubh-v commented on #180
Closing this, as we will mainly be using our web app in future

[2021-07-11 10:11] #180 closed

[2021-07-11 12:30] AudreyFelicio commented on #732
@dingyuchen @anubh-v
Can I try to take on this issue after #723 is merged?

[2021-07-11 14:07] AudreyFelicio commented on #689
@damithc
Hi Prof, is this issue still available?

[2021-07-11 14:07] AudreyFelicio commented on #665
@damithc
Hi Prof, is this issue still available?

[2021-07-11 14:16] damithc commented on #689
@AudreyFelicio see if you can reproduce the error. If cannot, we can close this issue I guess (as only one student reported this error).

[2021-07-11 14:17] damithc commented on #665
I think the current state is good enough @AudreyFelicio Last semester, I managed to add a new type of verification which the CATcher was able to accommodate without a problem. Thanks for checking.

[2021-07-11 14:17] #665 closed

[2021-07-11 14:33] AudreyFelicio commented on #604
@dingyuchen @seanlowjk @kkangs0226
Hello, can I ask if this issue is available for me to take?

[2021-07-12 18:13] ducbinh2611 commented on #278
Hi Prof @damithc !

If I understand correctly, there is no need to "delete" any label at any point in time (if it is already there and it is not going to be used) but our goal is for the addition of labels upon creating the repo, we are going to add only the used labels for that phase and not add the unused labels (like `response.*` for Bug Reporting Phase)

[2021-07-12 19:02] damithc commented on #278
Yes, that should be good enough @ducbinh2611
To be more precise, add only the labels that will be used in the tester _repo_. The tester repo is used in two phases (bug reporting, tester response). We can add labels needed for both those phases at the very start. Just don't add labels that will not be used in either of those phases.

[2021-07-13 04:16] dingyuchen commented on #732
Would you suggest that we block the "Continue as {{username}}" button if the app version is out of date? If that's so we would still need some flag to keep track of whether an error has occurred.

Feel free to assign yourself, but I think you should hold off development until the scope and requirements of the PR has been finalized.

[2021-07-13 04:20] dingyuchen commented on #604
@AudreyFelicio yup I think you may go ahead.
I'll open up a new issue for import ordering

[2021-07-13 04:23] dingyuchen opened #737 "Reorder imports across codebase"
With reference to https://github.com/CATcher-org/CATcher/issues/604#issuecomment-802877925_

Imports are currently quite messy, let's add `ordered-imports` to the tslint ruleset and apply import ordering across the code base.

Should be done after closing #604

[2021-07-13 08:04] AudreyFelicio commented on #737
@dingyuchen
I'll take on this issue as well since it's related to #604

[2021-07-18 10:31] AudreyFelicio opened #740 "Fix Access Modifiers of Variables"
Currently, some of the access modifiers inside components are faulty.
Some `private` variables are used and called in their corresponding views.
Let's fix those faulty access modifiers to increase code quality.

Example:
![image](https://user-images.githubusercontent.com/54733401/126063930-9e131fce-101e-454f-b5bc-e2fff9194269.png)

[2021-07-18 13:10] zatkiller commented on #315
Considering that we don't expect students to modify the issue labels and  comment directly on GitHub, should this issue still be worked on?

[2021-07-18 13:34] zatkiller commented on #700
I have some suggestions that might help new developers understand the interaction of CATcher with GitHub as well as the purpose of the data.csv file:
1. User adds his own username as a tutor role within the parsed csv data (without adding to the csv data.file)
 - This will allow users to get familiar with the data.service file and understand how data,csv is used for authorization and allocation of

[2021-07-18 16:24] damithc commented on #700
Thanks for suggesting these @zatkiller 👍
Let's wait to see hear what the @CATcher-org/2021-devs  think of these.

[2021-07-18 18:25] ducbinh2611 commented on #700
I have some suggestions that can help new developers to have some hand-on practice with both back-end and front-end as well:
### Back-end
1. Create a new required label (e.g `type.UI_Flaw`) that will be automatically added to the repo upon creating a new remote repo (will help new user to get some experience of how `LabelService` create and sync label to the remote repo)
2. Delete existing labels

[2021-07-19 03:53] AudreyFelicio commented on #700
@zatkiller @ducbinh2611  I think the suggestions are great!
@damithc Since there's a lack of Frontend tasks, I would like to suggest one (which I did for my experimental feature). I feel this is quite simple and can be done relatively fast 😄

### Frontend

1. Make error snack bars automatically close after a certain amount of time (maybe around 3 seconds). This should enable contributors to learn

[2021-07-20 22:04] AudreyFelicio commented on #624
@dingyuchen @anubh-v @ptvrajsk
Hi everyone,
Is this issue still available?

[2021-07-20 22:07] AudreyFelicio commented on #277
@damithc
Hi Prof, is this issue still available? I can still reproduce the bug.
Perhaps I can try to find and implement a possible solution.

[2021-07-21 01:45] damithc commented on #277
Go ahead @AudreyFelicio

[2021-07-22 12:11] anubh-v commented on #700
These are good suggestions! I think we can go ahead and add them to our documentation

[2021-07-22 12:18] #719 closed

[2021-07-22 12:24] #699 closed

[2021-07-22 13:10] anubh-v opened #742 "Profiles' file: Adopt a more meaningful name for the "encodedText" field"
Let's change the field name to something that has a more immediately obvious meaning (perhaps `repo name` / `repo address`)

[2021-07-22 13:51] zatkiller commented on #742
I can work on this if no one wants to take it up

[2021-07-24 09:34] #693 closed

[2021-07-24 09:34] #694 closed

[2021-07-24 10:41] #645 closed

[2021-07-24 16:34] AudreyFelicio commented on #354
@geshuming @damithc
Can I ask if this issue is still available for me to investigate?

[2021-07-24 16:47] damithc commented on #354
@AudreyFelicio sure.
Note that we need not do any fixes to the moderation phase at the moment (because CATcher is not being used for that phase yet).
So, you can start by investigating if the problem affects other phases.

[2021-07-25 03:16] #735 closed

[2021-07-25 03:33] anubh-v opened #744 "Logging Service: Move "download as file" logic, into separate module"
LoggingService contains an `exportLogFile` method that is used to help users download the logs in a file.

Most of the "file creation / downloading" code here is not strictly related to logging.
Let's move it into an independent module, just to simplify the LoggingService.

LoggingService could just invoke a function in this new module, passing it a string containing the logs.

[2021-07-25 04:06] ducbinh2611 commented on #103
Hi prof @damithc . I want to clarify a few things with regards to this issue.

1. For `Phase 1`, does it mean we will only check and flag the error during the Bug Reporting Phase and none of the other phase? I think this problem of going straight to GitHub and adding multiple labels of the same category but invalid value can be done in the repo used for all the phases, so we can try to conduct thi

[2021-07-25 04:48] damithc commented on #103
@ducbinh2611
1. Yes, can be done for all phases. But note that this problem is not even supposed to happen (students are not supposed to edit issues via GitHub UI) which means we should only add a fix if it is cheap i.e., not complex and doesn't affect the performance
2. No need to auto-delete, as we wouldn't even know which one to delete.
3. Perhaps we can first apply this to dev response phase a

[2021-07-25 06:07] ducbinh2611 commented on #744
Hi @anubh-v , can we create a new service pertaining to this process of "file creation / downloading" and move those code to this new service specifically just for the logging file since if I'm not wrong as of now, I don't think there is any other feature of CATcher currently allows us to download anything.

[2021-07-25 09:24] AudreyFelicio commented on #354
@damithc
Hi Prof, I can't seem to reproduce the bug in other phases.
Also, I can't seem to test the moderation phase since the issues available currently at `pe-evaluation` are all not displayed inside the moderation phase table + I can only create issues inside `pe-evaluation` but can't assign required labels.

[2021-07-25 09:31] damithc commented on #354
Thanks for the investigation @AudreyFelicio
Let's close this issue then.

[2021-07-25 09:31] #354 closed

[2021-07-25 13:09] #710 closed

[2021-07-25 15:49] anubh-v commented on #744
I think we can just move the code into a function exported from a new module; no need to create a service.
Yes, there isn't any other feature that requires downloading files.

[2021-07-26 04:12] ducbinh2611 commented on #103
Hi Prof @damithc . After checking through, the intuitive solution to this would be checking whether an issue has multiple `severity` or `type` being assigned to it, then we can filter it to be under faulty issue. However, there are a few points:
1. Currently, the filtering to classify this type of issue is faulty done by `ngOnInit()` of `issues-faulty.component`. The `filter` in `issues-faulty.com

[2021-07-26 05:51] damithc commented on #103
Thanks for the investigation and the thorough analysis @ducbinh2611 I have no objections to dropping this issue. @CATcher-org/2021-devs any further inputs?

[2021-07-27 06:20] AudreyFelicio commented on #126
@damithc
Should we close this issue? I don't think this issue still exists since we've moved to web and I've tested that (for Mac) `cmd +` works well to zoom in/out in both web and electron.

[2021-07-27 06:27] AudreyFelicio commented on #103
@damithc
After reading through @ducbinh2611 's detailed analysis, I think it's okay to drop this issue since the fix seems to be quite "expensive" and may cause other parts of the app to break 😢 . Moreover, under the correct use case of `CATcher`, this problem should not occur as students are not meant to edit issues straight on `GitHub`.

[2021-07-27 06:30] AudreyFelicio commented on #274
@damithc
Should we close this issue as well? I don't think this will be a problem anymore since we've moved to web browser.

[2021-07-27 06:32] AudreyFelicio commented on #639
@seanlowjk @ptvrajsk
Hello, can I ask if I can try to work on this issue?

[2021-07-27 06:46] damithc commented on #274
Good point @AudreyFelicio Closing.

[2021-07-27 06:46] #274 closed

[2021-07-27 06:47] damithc commented on #126
Yup.

[2021-07-27 06:47] #126 closed

[2021-07-27 07:55] damithc commented on #103
Closing this for now. Can reopen later if anyone can make a case for it.

[2021-07-27 07:55] #103 closed

[2021-07-27 09:56] damithc commented on #315
@zatkiller It is worth exploring. While rare, some students do edit issues via Github by mistake. If this situation happens in a rare case, it is better if the incorrect tagging is ignored and the issue is rendered so that others can see the issue. If it remains hidden, others will not realize something is wrong. But if the fix is not easy, we can leave it be.

[2021-07-27 11:39] zatkiller commented on #315
I see, I'll look into it and see if it requires a lot of effort to implement. Thanks prof @damithc !

[2021-07-27 13:55] zatkiller commented on #315
Hi Prof @damithc , I've figured out the cause of the bug, and its due to the current duplicate issue display implementation.

Firstly, the issues table filters out issues with the duplicated label. Then, for each issue / entry within the table, the issue id is taken and checked against other issues, to see if other issues contain this id as its parent issue id (`duplicateOf` variable in issue mode

[2021-07-27 16:05] damithc commented on #315
Thanks for the investigation @zatkiller Let's wait to see if others have inputs.

[2021-07-29 04:56] #742 closed

[2021-07-29 16:34] ducbinh2611 opened #746 "Guard: Extend UserConfirmation to other usages"
Currently, the `UserConfirmation` that asks for confirmation of user to go back to the previous page is only used when they are editing an already uploaded `Issue` in CATcher. This feature allows the user to double-check such that they would not lose any unsaved information that they key in since the going back action is irreversible.

For example:
<img width="932" alt="Screenshot 2021-07-30 at 12

[2021-07-29 17:13] #704 closed

[2021-07-30 02:18] damithc commented on #746
Good point @ducbinh2611 Also keep in mind that people tend to click 'yes' without really checking (which reduces the value of a confirmation dialogs). Plus, we can omit the confirmation dialog from _irreversible but easily recoverable_ actions too. For example, creating an issue with wrong information is easily recoverable as issues can de 'deleted' or edited after creation.

[2021-07-30 02:50] ducbinh2611 commented on #746
I agree! However, I think there is no other way than just "highlighting" the 'yes' button to catch people's attention (like what we are making the 'yes' button to be a distinct red color so that it would stand out more)

Noted prof! If that is the case then maybe we should just add the confirmation dialog when the user wants to leave halfway during the creation of a new issue and not when he/she s

[2021-07-30 03:17] damithc commented on #746
Yes @ducbinh2611, doing so is likely to add value.

[2021-07-31 05:24] #277 closed

[2021-07-31 05:24] #282 closed

[2021-07-31 09:00] anubh-v commented on #639
@AudreyFelicio sure, you can work on this

In addition to the automated changelogs, it will be nice if we can automatically tag every merged PR to the milestone of the next version.

Currently, we have to manually tag each PR to a milestone

[2021-07-31 12:52] anubh-v opened #747 "CommentEditor: Allow some HTML tags for formatting purposes"
As discussed in [this comment](https://github.com/CATcher-org/CATcher/pull/741#issuecomment-889311020),
let's selectively allow some HTML tags so that users can use them for formatting.

Ideally, we should support exactly the same set of HTML tags as the GitHub text editor, so that users have a consistent experience.

[2021-07-31 16:30] #744 closed

[2021-07-31 16:55] anubh-v opened #748 "Create subclasses of `Issue` class, for the various phases"
Currently, the `Issue` class contains properties and methods for issues used in all 3 phases (technically 4 phases, including the moderation phase).

This can make the class difficult to understand.
In future, the class might become even more complex if we add more unique functionality to each phase.

Let's consider the possibility of creating subclasses of `Issue`, and moving the phase-specific p

[2021-08-02 08:42] seanlowjk commented on #529
Closing the issue for now as https://catcher-org.github.io/ug/index.html is in development

[2021-08-02 08:42] #529 closed

[2021-08-02 08:48] seanlowjk opened #750 "Feature Request: Create Private Repositories during Bug Reporting Phase"
To prevent users from copying bug reports from other repositories, it is essential to make these repositories private to allow such plagiarism cases.

We can explore modifications to `PhaseService` and `GithubService` such that the application continues to work despite of the new private repositories being in place.

[2021-08-02 09:09] damithc commented on #750
This is indeed a VERY good thing to have. I'm not sure this is going to be easy though  :-) The main problem is that URLs GitHub generates for files in private repositories (e.g., screenshots) expire after a few minutes. Hence, CATcher will not be able to show the screenshots after that time window has elapsed.

[2021-08-02 09:13] seanlowjk commented on #750
Oh this is true, have totally forgotten about files / images / videos 😅 let me do some more research and maybe, we can find a good solution to overcome this issue

[2021-08-02 14:57] anubh-v commented on #732
@dingyuchen we've removed many of the booleans used to track version-related state in #723
Let us know how this issue should proceed

[2021-08-02 15:48] #680 closed

[2021-08-02 15:53] AudreyFelicio opened #751 "Bug: graphql codegen not run when ng:serve:web"
To serve `CATcher` in web browser, we use the command `npm run ng:serve:web`.
However it seems that `npm run codegen:gql` is missing inside `ng:serve:web` script.

This causes dev/users who doesn't use the command `npm start` before to not be able to run `CATcher`
due to missing `graphql-types.ts` file.

Let's add `npm run codegen:gql` to `ng:serve:web` script.
Alternatively, we can warn future de

[2021-08-03 03:22] dingyuchen commented on #732
I think the application state is a lot simpler to reason now and I think there is no longer any need for this issue.
I'll close this issue but feel free to reopen if anyone has any suggestions

[2021-08-03 03:22] #732 closed

[2021-08-03 04:31] seanlowjk commented on #751
Thank you for raising this issue @AudreyFelicio

Yes indeed, that is unexpected behaviour as the graphql types would need to be generated in order for the application to run properly.

Maybe it would be better to put the generation of `graphql-types.ts` under the `ng:serve` command such that `ng:serve:test` works fine as well. Let me know your thoughts on this

You can make a simple PR for this :)

[2021-08-03 04:34] seanlowjk commented on #750
There are currently 3 ways we can handle this, I will list the pros and cons here

1. Using a public repository to host files for the user
**Pros**: Easy to setup and control flow will be almost the same as before
**Cons**: Easy to plagiarise images and files as other users can simple visit the user's repository

2. Using a common public repository for all users
**Pros**: Easy to setup. Not easy t

[2021-08-03 04:54] damithc commented on #750
More cons for option 2:
* Makes it easy to plagiarize. Just need to watch one repo only and figure out who who upload screenshots matching the target product.
* Can become a bottleneck as everyone is uploading to the same repo. Can face throttling or quota limitations during the PE itself, which we may not be able to predict in advance.

[2021-08-03 06:54] AudreyFelicio commented on #751
@seanlowjk
Thanks for the comments!
Yep, makes sense to put it under `ng:serve` command instead 😄 .

[2021-08-03 08:05] zatkiller commented on #750
I think option 1 will be the best choice. We can separate the storing of bug reports and images / files. The storage of photos and files can be on a public repo of the user while the bug reports repo can be privated.

I feel plagiarising from photos and files alone is much more difficult than with a bug report, as users still have to identify what the bug is from the pictures.

Option 3 is also pl

[2021-08-03 09:11] damithc commented on #750
In fact, we want the repo to be changed to public mode at the end of the PE or else our scripts cannot access the bug reports. Plagiarism concern is only applicable during the PE period itself. It's not possible to plagiarize after the PE is over. Another worry I have is that some students will not do that step fast enough which can cause delays to the next phase of the PE.

So, I'm still on the f

[2021-08-03 09:55] ducbinh2611 commented on #750
Perhaps we can add a script to change the repository visibility to public at the end of the PE? However, I am not sure whether is it even possible to write such a script though after looking up for the solution. But regardless, it still requires the student to manually confirm the change from private to public repo so it serves as an unpredictable bottleneck to get the issues ready for phase 2.

I

[2021-08-03 12:37] damithc commented on #750
Yes, finding the other testers is not easy under the current conditions.

[2021-08-03 13:19] zatkiller commented on #750
I see @damithc, it seems like i misunderstood the issue we are dealing with. I thought we were looking to prevent students from looking at past PE repos for bug ideas.

If it's as you said, I agree with @ducbinh2611, the time constraints of the PE and the cohort size of the module does make it difficult for students to find other testers to plagiarise.

[2021-08-04 15:40] anubh-v opened #753 "TeamResponseTemplate: Add tests"
Let's add tests to check that the TeamResponseTemplate correctly parses the (1) team response and (2) the duplicate status of the issue.

This can be done by creating a simple GithubComment (follow the format in our `pe-results` repo), instantiating a TeamResponseTemplate and then verifying the `teamResponse` / `duplicateOf` properties.

This test is important as the parsing logic is key to our ap

[2021-08-04 15:41] anubh-v commented on #753
@RuiFengg feel free to take this up

[2021-08-04 15:58] anubh-v commented on #753
@zatkiller is helping to add tests for TesterResponseTemplate.

Once these tests are done, we can work on improving the readability of our parsing logic.
Specifically, some parts of the parsing logic rely on complicated regexes which could be broken up

[2021-08-04 16:18] zatkiller commented on #753
@anubh-v I agree, i think the regex can be broken up (at least made more readable), especially for new developers who are not too familiar with regex. Should that be a future / separate issue from this?

[2021-08-07 09:07] anubh-v commented on #753
We can create a separate issue for improving the regex readability. But let's work on that after we've added tests for the respective template classes.

[2021-08-08 05:28] #278 closed

[2021-08-08 07:20] #652 closed

[2021-08-08 13:04] anubh-v opened #754 "Improve styling for "not connected to internet" alert"
Currently, we display a simple piece of text when the user is offline.
![image](https://user-images.githubusercontent.com/35621759/128632697-13534e57-2384-4ad9-b539-a6062647e919.png)

In my opinion, we can polish this a bit, as it does not fit cleanly in the UI.

We could consider:
- Removing this text, and instead trigger an error via the ErrorHandlingService (the user will see a dismissable aler

[2021-08-08 18:50] ducbinh2611 commented on #754
In my opinion, I think the first option is better than the second option for these reasons:
1. No internet connection is a valid General error, displaying it via the Error Snackbar invoked by `ErrorHandlingService` would align with how we are treating other errors for consistency of the codebase and the behaviour of the application. I believe the implementation would be cheap and easy as well.
2.

[2021-08-09 02:22] seanlowjk commented on #750
Just realized that this is a duplicate of #389 and as a result, will close this for now.

If at any point of time, we would want to raise this feature request again, we can continue our convo there! 😄

cc @damithc @ducbinh2611 @zatkiller

[2021-08-09 05:40] anubh-v opened #755 "AuthComponent: Extract authentication confirmation logic into new component"
Currently, our AuthComponent does the following:

1. Allows users to select a session
2. Redirects them to GitHub login
3. Upon receiving the authorization code from the GitHub redirect, fetches the access token
4. Upon user's confirmation, verify that the user is meant to access the CATcher session (i.e. are they present in the list of users in  the session's `data.csv` file).

The fourth step is

[2021-08-09 08:59] AudreyFelicio commented on #755
@anubh-v

I think the idea is good 😄 .
Just to confirm, basically we want to move the `completeLoginProcess` method in `AuthComponent` to another child component then, if I'm understanding this correctly?

I think I can take on this issue if you're okay with it, since I have experience dealing with `AuthComponent` and `AuthService` in my past PR 😄 .

[2021-08-11 08:31] seanlowjk opened #757 "IssueResponse: Abstract Checkbox Logic into common model"
# Summary

Currently, there is duplicated code within the codebase which involves the toggling of checkboxes for `IssueDispute` and `TesterResponse` , which can be abstracted into a common model.

## Description

https://github.com/CATcher-org/CATcher/blob/dbd8df4825127298990d21daa88b3f3ef9446a82/src/app/core/models/tester-response.model.ts#L28-L30

https://github.com/CATcher-org/CATcher/blob/dbd8

[2021-08-11 14:20] anubh-v opened #758 "Docs: add sequence diagram to explain authentication"
A sequence diagram would help to explain the authentication process, and the roles of the different components involved (CATcher, GitHub, Gatekeeper).

For convenience, [PlantUML](https://plantuml.com/sequence-diagram) could be used to create the diagram.

This diagram would be added to the OAuth section of our [documentation site](https://catcher-org.github.io)

[2021-08-11 14:22] anubh-v commented on #758
@RuiFengg feel free to take this up, I think it will help you understand the authentication process as well.
Can refer to our explanation of OAuth [here](https://catcher-org.github.io/dg/tools.html#oauth-2-0)

[2021-08-11 14:29] anubh-v commented on #755
Sure @AudreyFelicio .
We would also move the section of the template used for auth confirmation, along with `completeLoginProcess`

[2021-08-12 06:55] RuiFengg commented on #758
Alright got it thank you!

[2021-08-12 08:10] RuiFengg commented on #757
Is it ok for me to work on this as my first `good first issue` tagged issue even though its not the first issue i've done :sweat_smile:

[2021-08-12 09:24] seanlowjk commented on #757
Hi @RuiFengg yes sure, please go ahead! :smile:

[2021-08-12 16:54] zatkiller commented on #754
I agree with @ducbinh2611 on going with option 1 with the same reason that students might minimize the browser size and cause the header icons to overlap. I also feel that option 1 might be more prominent and more likely to catch the student's attention as compared to putting it in the header, especially when students are focusing on finding bugs during their PE

[2021-08-13 05:17] #363 closed

[2021-08-15 11:41] #507 closed

[2021-08-15 12:04] anubh-v opened #762 "TesterResponseTemplate: Add test to verify that team response / tester response are parsed correctly"
Currently, we have tests that verify that the severity / issue type chosen by the responding team, are parsed correctly.
(i.e. testing the feature added in #727 )

Let's add similar tests to verify that the team response / tester responses are parsed correctly.

[2021-08-15 12:07] anubh-v opened #763 "TesterResponseSection: improve readability of regex"
After #762 is done, we can try to compose the regex in `TesterResponseSection` out of smaller pieces which are easier to understand, rather than having a single, long regex definition.

Referring to:
https://github.com/CATcher-org/CATcher/blob/d59d9a93acb835a304862c69221f8cb1ecd93b55/src/app/core/models/templates/sections/test-response-section.model.ts#L20-L23

[2021-08-15 15:28] zatkiller opened #764 "Labels: Refactor duplicated label constants used for testing"
Currently, we have duplicated (and hard coded) label constants under the `label.constants.ts`.

For example:
[code]

We can look to remove the use of hardcoded values for attributes with common values like `display`  and instead, define these values once under `LabelService` and reuse them to avoid duplicated code

[2021-08-16 05:17] #751 closed

[2021-08-17 15:03] anubh-v commented on #750
Re-opening this, as there is a good amount of discussion here.
(I think we can leave both issues open, as both have important points -- unless there is a way to combine both issues ?)

Just wanted to share my thoughts on the 3rd option:

One question here is do we need to deploy more server-side code to adopt this approach?
Or can we continue to run as a client-side application (excluding Gatekeep

[2021-08-18 12:38] zatkiller commented on #750
@anubh-v Not sure about other cloud services, but if we are to use a combination of AWS S3 (to store the images) and AWS Cloudfront (The CDN), it will just be like another API to interact with (uploading and fetch of images through a URL) and there will be no need for server side code.

We will need to store the image URL (possibly on a GitHub repo) to be able retrieve the images later on.

[2021-08-18 12:54] damithc commented on #750
I'd rather not start depending on another external service, on top of GitHub and Heroku. As reliability is critical to CATcher, fewer live dependencies the better :-) Plus, we don't want to start paying for an external service either, unless unavoidable.

[2021-08-20 15:18] RuiFengg commented on #762
I can take up this issue :smiley:

[2021-08-21 10:13] anubh-v opened #766 "Limit the amount of test data that is shared between tests"
I'm not fully sure about this idea, but just raising it for discussion first.

So far, we have been placing test data (mock Github comments, issues) into a common module, and importing it into our tests.
I think that going forward, we should keep test data confined to the tests themselves (rather than "sharing").
We can still have a clean separation between the test logic and the test data, within

[2021-08-21 10:36] anubh-v opened #767 "Add proper error handling for malformed issues / comments"
Currently, malformed issues / comments are treated "silently" -- no warning to user, and functionality can be broken (depending on what exactly is malformed).

This is not high priority, as comments / issues are unlikely to be malformed, since they are generated by a script / the app itself.
But it will be good to design proper error handling, to make the app more robust.

We will need to modify t

[2021-08-21 10:46] anubh-v commented on #754
Thanks for the responses. I am agreeable to adopting the first option.
Prof @damithc do you have any comment on this?

[2021-08-21 12:02] zatkiller commented on #766
While having test data be "self-contained" within a set of test cases eases the work of developers when updating test data, I feel like there will be a few issues that might arise:
1. There might be inconsistencies for the same type of test data across different sets of test cases (like due to developer error when writing the test data)
2. A change in the structure of the test data type, might req

[2021-08-21 12:58] damithc commented on #754
No objections from me. Go ahead 👍

[2021-08-21 16:42] anubh-v opened #768 "Make session selection more convenient"
We can make the login process more convenient if we auto-fill the session selection page, based on the last chosen session:
![image](https://user-images.githubusercontent.com/35621759/130328934-67238bce-1d5b-4480-8f79-15a62b9468b0.png)

[2021-08-21 16:52] anubh-v commented on #768
We can also discuss methods to streamline the log-in process for returning users -- perhaps skip the session selection page entirely?

[2021-08-21 16:56] damithc commented on #768
Is it possible to encode these two fields in the URL itself so that they get auto-filled from the very beginning (i.e., we give students the encoded URL)?

[2021-08-22 03:08] anubh-v commented on #768
Yes, that should be possible. I guess that will be more convenient than saving the last selected session.

[2021-08-22 03:23] anubh-v commented on #766
Good point @zatkiller
I think the problems with shared constants can also be mitigated if it is easy to understand how to reuse that shared constant.
In the earlier phase of development, we made the error of including unnecessary information in our test data, which can make it hard to understand whether something can be reused. (e.g. alot of `created_at` / `updated_at` / `url` fields which are not

[2021-08-22 04:14] anubh-v commented on #767
One approach might be to raise an exception in the Template / Section classes (if there is a parsing problem), and then catch this exception in the Issue class. We could then display the issue as "malformed" on the UI, perhaps with a message about the nature of the parsing error.

[2021-08-24 08:10] seanlowjk commented on #766
In my personal opinion, we should only share pre-defined constants between tests.

For test data, it is not advisable unless they test the exact same functionality which is highly unlikely as mentioned by @zatkiller
Maybe we can start to take a look at the data shared being tests and slowly limit this amount of shared data till it becomes in a maintainable state.

Reference Link: [Should Unit Test

[2021-08-28 16:24] #753 closed

[2021-08-29 03:39] #731 closed

[2021-08-29 07:34] seanlowjk commented on #768
@anubh-v @damithc I was taking a look through the repo and I found the components needed to implement this feature.

This feature should be relatively trivial to implement but I would have a question:
When the user enters the encoded url with the session name, should it automatically load, or should we leave it at the session select page?

![Screenshot from 2021-08-29 15-31-32](https://user-images

[2021-08-29 07:51] damithc commented on #768
Just auto-fill the field, which gives the user more flexibility?

[2021-08-29 08:26] seanlowjk commented on #768
Alright, sounds good

[2021-08-30 08:57] dingyuchen opened #771 "Add Dependabot to help manage outdated packages"
CATcher uses many npm packages, some of which are outdated or deprecated.

Let's add dependabot to our repository to update all these packages incrementally, and to keep up to date with security patches.

[2021-08-31 08:40] seanlowjk commented on #768
@damithc @anubh-v I think we can split this into two tasks where

1. Being able to populate the session to be selected upon receiving the encoded parameters
2. Prompting an error if the session name selected is not within the list of profiles

Does this seem fine? If so, we can modify this issue to address the tasks required

[2021-08-31 16:33] anubh-v commented on #768
Sounds good. But (ideally) both tasks should be addressed in the same PR - better to implement the proper error handling along with the feature.

[2021-09-01 03:13] damithc commented on #768
Yup.

[2021-09-02 07:16] RuiFengg commented on #764
After taking a look at the relevant files for this issue, it seems like the LabelService already has its own `setLabelStyle` method that handles the issue of duplicated code, and since the way those text styles are used in the `label.constants.ts` file is only for testing purposes I feel like a small amount of duplicated fields in those constants are alright. What do you think?

[2021-09-02 07:18] RuiFengg commented on #768
If nobody's started working on this issue I can give it a go taking these discussion points into consideration

[2021-09-05 07:45] seanlowjk commented on #768
Sflr! @RuiFengg yes, I would assign this issue to you shortly!

Some things to take note of:

1. For how the applciation retrieve the url encoded parameters, you can take a look at `auth.component.ts`
2. In order to populate the necessary data and state, you would need to pass the data from `auth.component.ts` to `profiles.component.ts` There needs to be some form of communication between these tw

[2021-09-07 07:13] kkangs0226 opened #772 "Remove / update deprecated Window.event"
Running `npm run lint` with updated Angular 8.0 raises `event is deprecated` error.

Example in `GithubService` class:
![image](https://user-images.githubusercontent.com/66008784/132300593-4c9a99e8-e477-4c27-8356-a0306175930a.png)

Reference:
https://developer.mozilla.org/en-US/docs/Web/API/Window/event

[2021-09-07 07:23] kkangs0226 opened #773 "Follow recommended practice for ViewChild"
A new `static` flag has been added to `ViewChild` starting from Angular 8.0.
This flag should be `false` by default, if we follow Angular's recommended practice of using `ngAfterViewInit()` for view queries for `ViewChild`.

![image](https://user-images.githubusercontent.com/66008784/132301924-3b12bc5d-b915-47c8-96db-21bd111ac3db.png)

From Angular 9.0, the `static` flag will be removed for defaul

[2021-09-08 09:36] seanlowjk opened #775 "Issue Labels: Update missing label definitions"
# Summary

As a follow-up to #363 , not all Team's Response Phase labels have label definitions attached to them.

As a matter of fact,, this is with regards to `Response` type of labels.

Prof @damithc shall we fill up the missing label definitions as a result?

cc @ducbinh2611

## Screenshots

![Screenshot from 2021-09-08 17-33-05](https://user-images.githubusercontent.com/42912708/132484963-b91

[2021-09-08 09:57] seanlowjk opened #776 "New Issue Labels: Unable to see selected text"
# Summary

During the creation of a new issue, when the user selected the **severity** and **bug type**, the selected value cannot be seen. As a result, the user cannot tell the value selected unless the user matches the color code to the label, which is an issue.

## Screenshots (if any);

![Screenshot from 2021-09-08 17-55-23](https://user-images.githubusercontent.com/42912708/132488599-a93bb8fa

[2021-09-08 11:54] damithc commented on #776
Let's fix this soon, as we need to release a stable version soon.

[2021-09-08 12:37] damithc commented on #775
Yes, go ahead. Here are the definitions:

`response.Accepted`: You accept it as a bug.
`response.NotInScope`: It is a valid issue but not something the team should be penalized for e.g., it was not related to features delivered in this version.
`response.Rejected`: What tester treated as a bug is in fact the expected and correct behavior (from the user's point of view), or the tester was mistaken

[2021-09-08 12:50] ducbinh2611 commented on #775
Initially, I thought that these labels are quite intuitive so I chose not to include the label definitions for these labels. However, I think we can add the definitions for these labels to make them consistent with `severity` and `type` also.

[2021-09-09 01:25] seanlowjk commented on #775
Okay thanks Prof! @damithc

@ducbinh2611 ahhh i see what you mean, yea we can make it consistent! sure, feel free to assign this issue to yourself :D

[2021-09-09 03:11] #763 closed

[2021-09-11 05:04] anubh-v opened #779 "Staging application's deployment is not working, due to permissions issue"
The [staging application](https://github.com/CATcher-org/CATcher-staging) has a permissions problem in its deployment workflow.
This is preventing new versions of the staging app from being deployed at https://catcher-org.github.io/CATcher-staging/

Here are the logs from one of the failed deployments:
[code]

The application itself can be built, as seen above (the JS files are built).
It seems to

[2021-09-11 08:16] seanlowjk commented on #779
@anubh-v I think it might be due to the fact that the `GH_TOKEN` used to deploy the staging website has expired (cause I was the one who generated it)

Lemme fix this quickly

[2021-09-11 08:22] seanlowjk commented on #779
Yea apologies about that! >< @anubh-v refixed the github token and deployment is working as usual!

[2021-09-11 11:17] anubh-v commented on #779
Thanks Sean!
I was reading these [GitHub docs](https://docs.github.com/en/actions/reference/authentication-in-a-workflow#permissions-for-the-github_token), and based on them, I understand that GitHub generates a `GITHUB_TOKEN` for each workflow.

Is it possible for us to use this `GITHUB_TOKEN` instead of generating our own access token for the deployment workflow?

[2021-09-11 11:21] anubh-v commented on #779
Closing, as this has been fixed

[2021-09-11 11:28] anubh-v opened #780 "Dev guide: List the different OAuth applications created for CATcher"
Let's briefly describe the different OAuth applications that we are using for development and actual usage (shown below)
![image](https://user-images.githubusercontent.com/35621759/132946301-6ac8fb14-7457-4553-99ed-a9cd5e33da6c.png)

We can also link to GitHub docs that explain the general process of creating an OAuth application.

Let's add this to the "Project management" section of the Dev guid

[2021-09-11 11:29] anubh-v commented on #780
I can do this task

[2021-09-11 11:40] anubh-v opened #781 "Dev guide: Move the "Dev commands" to relevant sections"
Currently, the [Setting up](https://catcher-org.github.io/dg/setting-up.html) section of our developers' guide has a large table of commands that are used in various development tasks (running tests, building the app, running the linter, etc).

This might be confusing for newcomers.
Instead of having the whole set of commands in a table, let's move them to their relevant sections.

For example, co

[2021-09-11 11:42] anubh-v commented on #781
I can take this up by next week. Do feel free to take it up, if you wish.

[2021-09-11 11:56] seanlowjk commented on #779
Alright, think I can have a look into this using my own fork!

[2021-09-11 15:53] anubh-v commented on #776
I'm not seeing this issue on Firefox (but am seeing it on Chrome and the desktop version)

[2021-09-11 16:49] seanlowjk commented on #776
Yes, it is due to the css changes which occurred in a previous commit x.x Have submitted a PR for this fix!

[2021-09-12 05:18] anubh-v commented on #776
I see, thanks for the investigation and fix Sean

[2021-09-12 05:48] anubh-v opened #782 "CommentEditorComponent: Move logic that creates markdown for uploaded files, into separate module"
The CommentEditorComponent is used heavily, but also has a bit of technical debt and it is not covered by unit tests.

We can start improving it, by moving out the `insertUploadingText` and `insertUploadUrl` functions into a separate Typescript module. The intention here is to make the CommentEditorComponent easier to understand and test, by separating concerns into distinct units of code.

These

[2021-09-12 08:43] seanlowjk opened #784 "Configuration: Update Access Token URL"
# Summary

As part of the restructuring, I have created a new endpoint using **Heroku** under `https://catcher-auth.herokuapp.com/`. However, it has not been updated in the repository as it has been sitting in the backlog for quite a while.

This is a simple task and shouldn't take too long :+1:

[2021-09-14 10:16] #776 closed

[2021-09-19 06:53] #779 closed

[2021-09-25 12:35] anubh-v opened #787 "Remove duplication of access token URL in production environment file"
We can remove the duplication of the access token URL in the environment files (probably define it in `environment.gen.ts` and then import into `environment.prod.ts`)

_Originally posted by @anubh-v in https://github.com/CATcher-org/CATcher/issues/786#issuecomment-927114353_

[2021-09-25 12:38] #784 closed

[2021-09-25 12:38] anubh-v commented on #784
Done in #786

[2021-09-26 04:14] anubh-v opened #789 "Automated release: 'Build' step fails as electron builder expects GH_TOKEN"
We're using the electron-builder tool to build the Electron application for all 3 major OS, in our automated release workflow.

Electron-builder has a default "publish" feature, where it tries to upload the built application to GitHub if it detects that we're building the application in a GitHub CI environment.

It requires the "GH_TOKEN" to be defined in the environment, in order to use this feat

[2021-09-26 04:14] anubh-v commented on #789
I'll raise a PR to try this

[2021-09-26 06:27] #789 closed

[2021-09-28 14:48] #762 closed

[2021-10-02 09:25] damithc opened #792 "Update session list"
In the login page, the session list need to be updated as follows:

* Remove TIC4002 entries
* Update other entries to use AY2122S1 (not AY2021S2)
* Add entry `CS2103/T Tutors` to point to https://github.com/CATcher-testbed/alpha4

[2021-10-02 09:34] damithc commented on #792
Sorry guys, I should have posted this earlier. Can update quickly and do another release?

[2021-10-02 15:41] #792 closed

[2021-10-02 18:02] damithc opened #793 "Label definition is not appearing correctly in the issue creation page"
v3.3.9 (Web), Windows, Chrome

Label definition is not appearing correctly in the issue creation page:

![image](https://user-images.githubusercontent.com/1673303/135727279-dc2a64fd-0086-4048-9030-e16bb9426770.png)

[2021-10-03 03:27] anubh-v commented on #793
Prof @damithc may we get your Chrome version?
I'm not seeing this issue on Chrome (v94.0.4606.71) or Firefox (v92.0.1)

![image](https://user-images.githubusercontent.com/35621759/135738295-e3d93517-168d-44ac-9656-26c87668255a.png)

![image](https://user-images.githubusercontent.com/35621759/135738307-7dae3f31-b6b2-456a-94d5-f6bb82d2114f.png)

[2021-10-03 04:05] damithc commented on #793
I'm using the latest version (it's auto-updated): 94.0.4606.71
To add, the problem doesn't happen when editing an existing issue
![image](https://user-images.githubusercontent.com/1673303/135739226-348b9952-dfa9-4979-acec-0bd3d560ef41.png)

[2021-10-03 04:10] damithc commented on #793
I checked with Edge, still the same at first.
But it started working in the second try, and now it seems to be fine on Chrome too. So I guess it was a caching issue?
Closing for now. Will reopen if others report a similar problem.

[2021-10-03 04:10] #793 closed

[2021-10-03 10:51] anubh-v commented on #793
Hmm..it should not be a caching issue if you saw the "v3.3.9" version label in the application

[2021-10-03 12:31] damithc commented on #793
Same thing happened with the desktop version. Not working at first, but started working after a few tries.
Perhaps caching can affect only _some_ parts of a Web app (not all), as some css/js files can be outdated while the rest is not (?)
I face similar problems when TEAMMATES is updated.

[2021-10-04 03:06] damithc opened #794 "Show label definition on hover"
Current: viewing a label definition requires two clicks, per label
Suggested: show the definition as a tooltip on hover (i.e., no clicks required)

[2021-10-04 09:35] ong-yinggao98 opened #795 "Info button issues for choosing labels"
Environment: Chrome, macOS 11.6

Expected:
* Info button should be on the selected menu itself
* Info button should show meaning of severity/bug type field

Actual:
* Info button appears overlapping with drop down menu
* Info button displays information of one particular selection

<img width="1013" alt="Screenshot 2021-10-04 at 5 34 38 PM" src="https://user-images.githubusercontent.com/52755148/1

[2021-10-04 09:35] qwoprocks opened #796 "Buggy UI for Severity dropdown"
I am on the latest version of Firefox (v92.0.1), and I'm seeing this weird UI for the Severity dropdown, where there is only one information icon, which is misaligned.
![image](https://user-images.githubusercontent.com/46164638/135828208-a28d5944-4231-4a5f-bc1a-3a98831b7af2.png)

Hovering over the information icon results in hovering over the 'High' option, and clicking on the information icon giv

[2021-10-04 09:35] DrWala opened #797 "Info icon seems to be incorrectly positioned when clicking on severity/bug type dropdown"
As shown below, the info icon looks like it's in the wrong place. Only appears when I click on the dropdown during create issue

![Screenshot 2021-10-04 at 5 33 30 PM](https://user-images.githubusercontent.com/6803997/135828245-a93ef533-8fd2-42ec-8a34-fefcf881c378.png)
![Screenshot 2021-10-04 at 5 33 35 PM](https://user-images.githubusercontent.com/6803997/135828251-6040003c-1bf8-4ce5-9ae2-24fd263

[2021-10-04 09:36] ong-yinggao98 commented on #795
Related: #794

[2021-10-04 09:42] ong-yinggao98 opened #798 "Possible improvements for viewing report in GitHub"
The button in the dashboard for viewing a bug report in GitHub could be relabeled to "View issue in GitHub" instead of "View this issue in web browser". It could also be replaced with the "open external link in new tab" icon (below) for better clarity as it could be misinterpreted as a "copy link" button at first glance instead.

![image](https://user-images.githubusercontent.com/52755148/13582917

[2021-10-04 09:48] qwoprocks commented on #796
Similar to #795 and #797, but different OS/browsers.

[2021-10-04 09:51] samuelfangjw commented on #795
Faced the same issue. For me it fixed itself after clicking around the UI for awhile. However, logging out then logging in again caused the issue to reappear.

[2021-10-04 09:54] damithc commented on #796
@qwoprocks  I myself faced this. It starts working after a while though. Still, I think we need find the reason for this behavior.

[2021-10-04 09:59] aizatazhar commented on #796
Faced this issue as well and also using firefox v92.0, heres a quick video

https://user-images.githubusercontent.com/39623254/135831778-fc45d291-e01c-47b0-bf0f-33ea9d9bdfbc.mp4

1

[2021-10-04 10:00] aizatazhar opened #799 "Closing issue on github then syncing on CATcher does not update"
https://user-images.githubusercontent.com/39623254/135831924-9663cbfb-b432-4e76-b278-4ad2db47c3b4.mp4

[2021-10-04 10:00] aizatazhar opened #800 "Drag and drop video in CATcher gives a hyperlink to download the video instead of embedding it"
In github issues, the same drag and dropping of video embeds the video instead of giving a download link

[2021-10-04 10:18] tohyuting opened #801 "Bug where severity does not change after editing (occasionally)"
After creating the issue and trying to edit the severity, there seems to be a bug where the changes are not reflected occasionally despite clicking on a different severity level.

https://user-images.githubusercontent.com/65058690/135833913-07866415-42d4-4a70-a844-8251ccea4c4e.mp4

Environment: Chrome, Windows 10

[2021-10-04 12:27] anubh-v commented on #800
This is the intended behaviour at the moment. We can mark this as a future enhancement.

[2021-10-04 12:34] anubh-v commented on #798
Thanks for the feedback! I agree that the icon could be more intuitive. We'll consider this.
I also agree that it will be clearer if the label is `View this issue on GitHub`

[2021-10-04 14:47] anubh-v commented on #799
Thanks for the bug report.
This is an existing bug (first reported in https://github.com/CATcher-org/CATcher/issues/179)

[2021-10-05 15:08] anubh-v commented on #795
@ong-yinggao98  @samuelfangjw may I check if you can still see this error ?

[2021-10-05 15:18] damithc commented on #795
@anubh-v I'm still seeing this when I accessed CATcher today.
The problem disappeared after going to the edit page and trying to edit a label there (which doesn't have this problem).
It was like this:
1. login
2. try to create an issue -> **problem observed**
3. try to edit the same label in an existing issue (this page doesn't have the problem to begin with)
4. try to create a new issue again ->

[2021-10-05 15:24] samuelfangjw commented on #795
<img width="1552" alt="Screenshot 2021-10-05 at 11 22 19 PM" src="https://user-images.githubusercontent.com/60355570/136053102-5013ffb9-d1cb-4fb1-a3ae-695ca14a5093.png">

Yes, I am still able to replicate the error.

Steps:
- Access https://catcher-org.github.io/CATcher, hard refresh.
- Login to catcher
- Create new issue -> Problem Observed

[2021-10-05 15:29] ong-yinggao98 commented on #795
I still have the issue, but it goes away if i select new issue from the edit issue page

[2021-10-05 15:45] damithc commented on #795
Yup. the 'edit issue' page seems to have the secret sauce. Loading it even once seem to fix the problem  :-p

[2021-10-09 05:20] anubh-v commented on #249
Closing this, as the desktop app is now a backup for the web app.

[2021-10-09 05:20] #249 closed

[2021-10-09 05:22] #198 closed

[2021-10-09 05:26] anubh-v commented on #502
Closing, due to lack of activity

[2021-10-09 05:26] #502 closed

[2021-10-09 05:27] anubh-v commented on #476
Closing this, as the web app is now a stable alternative

[2021-10-09 05:27] #476 closed

[2021-10-09 07:11] #755 closed

[2021-10-09 08:02] anubh-v opened #802 "AuthComponent: Extract "session selection" logic into child component"
Currently, the AuthComponent manages the form used for sesssion selection and triggers the OAuth process.
We can consider moving this logic (and related view) into a child component.

This refactoring does not affect anything in the view, but I felt it allows for neater organisation of the Typescript code.
With this change, we can consider AuthComponent as a simple entry point to the application.

[2021-10-10 10:15] anubh-v opened #807 "Automatically tag PRs with a milestone"
It would be nice if we can tag PRs with the version of CATcher that includes those changes.
This can be done manually by tagging a milestone to each PR.

We could try automating this as follows:
1. Create a GH actions' workflow that tags PRs **upon merge** with a milestone named "Next release"
2. When we release a new version, we rename the milestone using the actual version number that was chosen

[2021-10-11 09:34] DrWala opened #808 "Content of bug report not being rendered correctly"
Bug report shows html other syntax instead of rendering properly

![image](https://user-images.githubusercontent.com/6803997/136767831-a5de8cf6-87a7-4c81-84b8-70d11b37ccf1.png)

Browser: Chrome
Team: CS2103-T00-5

[2021-10-11 09:38] ong-yinggao98 opened #809 "HTML in report not rendered"
There are some HTML tags at the bottom that are left as raw code

<img width="914" alt="Screenshot 2021-10-11 at 5 37 50 PM" src="https://user-images.githubusercontent.com/52755148/136768558-138bc814-b44e-4d47-843e-0a4bab598c5b.png">

[2021-10-11 09:39] #809 closed

[2021-10-11 09:39] samuelfangjw opened #810 "Unable to assign person to issue"
<img width="1552" alt="Screenshot 2021-10-11 at 5 37 52 PM" src="https://user-images.githubusercontent.com/60355570/136768494-17df20a8-cb51-4ca7-98d2-a1c4cd147458.png">

Unable to assign user `kkangs0226` to issue. Able to assign any other combination of the other team members with no issues.

[2021-10-11 09:40] aizatazhar opened #811 "Submit response button is disabled when clicking "A Duplicate Of" button twice"
https://user-images.githubusercontent.com/39623254/136768764-e81ed6f7-83c0-48a3-af2d-431a73dcdd97.mp4

[2021-10-11 09:40] jolynnn8D opened #812 "CannotReproduce tag overlaps with assignee"
Small UI bug but the CannotReproduce tag is too long hence it overlaps and covers the assginee.

<img width="913" alt="Screen Shot 2021-10-11 at 5 39 31 PM" src="https://user-images.githubusercontent.com/41572120/136768723-8a35237d-0900-48ca-989a-a96aed0ffbf1.png">

[2021-10-11 09:45] qwoprocks opened #813 "CannotReproduce is misaligned in the response dropdown"
Firefox (v92.0.1) on Windows
![image](https://user-images.githubusercontent.com/46164638/136769470-baeee677-2dc6-4072-bae6-ca161642bf35.png)

[2021-10-11 09:51] qwoprocks opened #814 "Validation failed message appears upon submitting issue"
Firefox (v92.0.1) on Windows

The message is improperly clipped. Should consider expanding the toast/snackbar to fit the message length.
The full message is:
Validation Failed: {"value":"kkangs0226","resource":"Issue","field":"assignees","code":"invalid"}

![image](https://user-images.githubusercontent.com/46164638/136770041-be794204-27e8-4843-afe0-427c917315ab.png)

After removing kkangs0226 and

[2021-10-11 09:52] #811 closed

[2021-10-11 09:55] samuelfangjw opened #815 "Response dropdown items not aligned"
<img width="229" alt="Screenshot 2021-10-11 at 5 54 39 PM" src="https://user-images.githubusercontent.com/60355570/136770906-5c552adf-a852-499a-9d0b-8a429af181ae.png">

The second menu item is not aligned with the rest of the menu items.

[2021-10-11 09:57] #815 closed

[2021-10-12 02:18] seanlowjk commented on #810
@damithc it should be able to, but we will put it as low priority for now as it is not urgent

[2021-10-13 09:49] ong6 opened #816 "Validation failed message persists even after leaving the affected page. [BUG]"
Steps to reproduce:
- Get the validation error
- Click the "back arrow" in the image below
![image](https://user-images.githubusercontent.com/19247856/137110098-b33095a1-a4cf-4633-a8fe-5b5018021a1b.png)
- Validation error message is still shown.

Example of validation error:
![image](https://user-images.githubusercontent.com/19247856/137109886-8ea0ae8b-5023-4f3d-a7e2-1e3b76d425c3.png)

[2021-10-14 14:50] seanlowjk commented on #747
Closed via #761

[2021-10-14 14:50] #808 closed

[2021-10-16 09:10] DesmondTo opened #818 "Allow very long issue title"
![image](https://user-images.githubusercontent.com/70432640/137581693-7420f665-3610-4db7-b268-5b70f4fb8f3c.png)

CATcher does not prevent the user from entering an extremely long issue title.

Although it does give error message for the first time I enter the long issue title, but when I edit the title to another long title, there is no warning message pop out. I think it would be good to have war

[2021-10-17 02:22] Chen-Yiyang opened #819 "More Examples for Severity Info"
Currently, only examples for `VeryLow` severity is given but not other severity levels. It will be more informative and consistent if more examples can be given.

![image](https://user-images.githubusercontent.com/16754723/137608036-d50dd9f8-d475-4077-8597-6d2627748bcf.png)

![image](https://user-images.githubusercontent.com/16754723/137608040-bb7000be-a752-4bb1-9aeb-085f34bcf9c5.png)

[2021-10-17 03:02] anubh-v opened #820 "Allow users to view uploaded videos via an embedded video player in the comment editor"
Currently, video uploads are supported, but we only display a link to the video, instead of allowing users to play the video within CATcher.

We can embed the videos by adding a `<video>` element into the content of the comment editor. The `<video>` element would point to the video's link.

Benefits:
- More convenience for users who use videos to describe bugs / workarounds

Disadvantages:
- The u

[2021-10-17 03:48] damithc commented on #819
Good suggestion @Chen-Yiyang
We'll consider that for a future version of CATcher.

[2021-10-17 05:22] anubh-v commented on #820
There can be other solutions to support video playback (for example, play videos in a dedicated section outside the comment editor). Let's discuss what might be the most appropriate solution.

[2021-10-17 13:45] dt-td opened #822 "Progress attribute gets cut off"
Progress attribute of student gets cut off if it gets too long.

![Capture.PNG](https://raw.githubusercontent.com/dt-td/alpha/main/files/dac71a70-d19f-4bf9-a22d-9d065c8671cd.PNG)

[2021-10-17 13:47] #822 closed

[2021-10-17 17:15] kleonang opened #823 "Unable to use keyboard shortcuts in editor"
Using macOS 11.6, Chrome v94.0.4606.81, shortcuts for common actions like **bolding** (Cmd+B) or _italicizing_ (Cmd+I) text are not available on the app.

[2021-10-18 09:38] samuelfangjw opened #824 "Arrow that indicates change of issue type not aligned (tester response phase)"
<img width="274" alt="Screenshot 2021-10-18 at 5 37 19 PM" src="https://user-images.githubusercontent.com/60355570/137706708-3e3d461d-e687-4b6d-a03a-5dd8b5169ee7.png">

Very minor but would be nice if the arrow between "FunctionalityBug" and "FeatureFlaw" was centered.

[2021-10-18 10:25] janakanuwan opened #825 "Catcher UI and GitHub UI have differences in showing the previous responses (during Tester's response phase)"
Used Catcher Web (**CATcher v3.4.1 (Tester's Response Phase)**)

In Chrome (Ubuntu)
![image](https://user-images.githubusercontent.com/45715403/137713366-618ccabe-8960-4477-8380-8e54ef5323af.png)

In GitHub
![image](https://user-images.githubusercontent.com/45715403/137713384-a90812ca-eca6-4308-a071-f3cd33e98c81.png)

full page images:
(https://catcher-org.github.io/CATcher/phaseTesterResponse/iss

[2021-10-18 14:49] qwoprocks opened #826 "GitHub UI shows extraneous information which may be confusing (tester response phase)"
There is an extra "Reason for disagreement" with the template words "[replace this with your explanation]" for issues that have not been disagreed with, which may be pretty confusing:
![image](https://user-images.githubusercontent.com/46164638/137754380-3c300259-3f1f-4765-ab7c-99f0b4dfaad8.png)

Compared to CATcher's UI:
![image](https://user-images.githubusercontent.com/46164638/137754451-f3753b7

[2021-10-19 03:36] damithc commented on #825
Good. I guess we can do a hot fix if it is a small low-risk change.

[2021-10-19 14:49] seanlowjk commented on #797
Closed by #804

[2021-10-19 14:49] #797 closed

[2021-10-20 14:23] Smanmos opened #827 "Can't link issue to any specific repo/code"
I'm not sure what the purpose of a bug report is if I can't specify what I'm reporting. Yes I can write it in the description but it really feels it should be a feature.

[2021-10-20 15:43] Amadeus-Winarto opened #828 "Unable to copy paste screenshots"
**Describe the bug**
After taking a screenshot and copying it to the clipboard, still unable to paste the screenshot into CATcher

**OS and Browser**
- OS: Ubuntu 18.04
- Browser: Edge 95.0.1020.20 (Official Build) beta (64-bit), Chrome Version 95.0.4638.54 (Official Build) (64-bit)

**Steps to reproduce the behaviour:**
1. Take a screenshot
2. Copy to clipboard
3. Right-click and paste into CATch

[2021-10-22 02:25] aryagiat opened #829 "Suggestion: Undo button should be disabled when the current state is not undoable"
After accidentally deleting an issue, the `edit > undo` button is not greyed out (disabled) so I assumed that I could undo the deleted issue. But it turns out that the undo button does not work for this. Upon checking the user guide, I couldn't find what things are undoable, so it would be nice if the undo button or the redo button can be disabled when the current state is not undoable/redoable.

[2021-10-22 07:01] Agentum07 opened #830 "Suggestion: move the drop down menu under the title"
Note: this report is a copy of the issue opened [here](https://github.com/Agentum07/alpha/issues/3)

**The bug:**
When the user goes to select the `Bug Type`, the menu covers the `Severity` option and completely covers the title `Bug Type` as well.
![Capture.JPG](https://raw.githubusercontent.com/Agentum07/alpha/main/files/89c74273-24ee-41fd-8b08-67bd6c06adb4.JPG)

**Environment:**
* OS: Windows 1

[2021-10-29 08:47] angnobel opened #832 "10MB file upload limit block 9.57MB file"
![image](https://user-images.githubusercontent.com/52357548/139405497-0d02ae84-6ac6-4abf-8d57-dbb1ab59a6a2.png)
![image](https://user-images.githubusercontent.com/52357548/139405502-a3bd6a86-a722-41d1-9337-a0a60896318d.png)

[2021-10-29 09:40] ruthpohrp opened #833 "Minor problem but line breaks between `code` and `code` don't register on CATcher"
so:
`this`
`this`

will register as

`this` `this`

had to use `<br>` to bypass this.

[2021-10-29 09:53] Jacobnbh opened #834 "Unable to escape arrow brackets "< >" in Preview"
#### Description of Bug:
![image](https://user-images.githubusercontent.com/67194216/139413733-82e02f9e-92e2-40ae-92ec-f6f8a54f8aa2.png)
![image](https://user-images.githubusercontent.com/67194216/139413802-a6d3c2aa-4d0b-42b8-a53b-c5636c8163f7.png)
Also, it seems like the entity references for arrow brackets only work in normal text and not within fenced code blocks

#### Environment:
OS: Windows

[2021-10-30 02:20] #179 closed

[2021-10-30 02:20] #799 closed

[2021-10-31 15:41] damithc commented on #834
Thanks for reporting this @Jacobnbh
The CATcher team will look into this, but unlikely to be fixed this semester.

[2021-11-11 10:15] #768 closed

[2021-11-11 10:36] #746 closed

[2021-11-11 12:32] #775 closed

[2021-11-11 16:09] marcuschj opened #835 "Unable to edit or delete issues 'Failed to fetch' HTTP error"
Hi, I am able to create new issues using CATcher and they appear on my `pe` repo, but editing and deleting existing issues from CATcher returns me this failed to fetch error.

I have tried deleting the `pe` repo and allowing CAtcher to create a new repo but problem persists.

![image](https://user-images.githubusercontent.com/63529740/141330374-22cdf337-34de-4287-be68-7c89ead1d3f8.png)

[2021-11-11 16:11] marcuschj commented on #835
====== New CATcher v3.4.1 Session Log ======
12/11/2021, 00:04:16
Selected Settings Repo: nus-cs2103-AY2122S1/PE
Starting authentication
Redirecting for Github authentication

====== New CATcher v3.4.1 Session Log ======
12/11/2021, 00:04:21
AppConfig,[object Object]
Mode web
Obtained authorisation code from Github
Retrieving access token from Github
Sucessfully obtained access token
Successfully

[2021-11-11 16:35] damithc commented on #835
@marcuschj can you try using a different browser and/or deleting the cache of the browser?
I assume there was no such problem with the pe-d and alpha testing done earlier?

[2021-11-12 01:20] dingyuchen opened #836 "Add better logging"
The stack trace on logging is not as useful when running the deployed application.

Perhaps as an enhancement to the logger, we may:

- Add levels to the logger (stack trace when in development, turn off in production)
- Log api requests to GitHub (log parameters before call to octokit)
- Make the appropriate config changes to set the logging levels automatically

[2021-11-12 01:28] kkangs0226 commented on #835
@marcuschj Could you clarify if 'they appear on my pe repo' means on Github itself, or just within CATcher app i.e. issue is only created within CATcher? Also, please provide us with information on the browser you are using (if you are using web version) or the OS (if you are using the desktop application) so we can look into the issue.

[2021-11-12 01:53] dingyuchen opened #837 "Apply formatting hook across the codebase"
Currently prettier's formatter is only applied to tests. Following the merge of #739, we can apply prettier to the entire codebase.

[2021-11-12 02:01] marcuschj commented on #835
@damithc I've tried using a different browser and also clearing my cache, both didn't work

Yup there were no such issues with PE-d and alpha testing, strange

[2021-11-12 02:03] marcuschj commented on #835
@kkangs0226 Sorry for the ambiguity, I meant to say errors were created within CATcher itself.

Ive tried the web version with Chrome and Edge

[2021-11-12 02:43] damithc commented on #835
@marcuschj Not sure if it will help, but you can also try the desktop version, as given in https://catcher-org.github.io/ug/#using-the-desktop-app

[2021-11-12 02:51] marcuschj commented on #835
@damithc Hi prof, the desktop version works fine for my Windows OS. Thanks!

[2021-11-12 02:56] damithc commented on #835
Good to hear that @marcuschj . You can use it for the PE. The CATcher dev team might need your help to investigate the problem with the Web version later -- as you are the only one who has reported this problem. Not urgent though.

[2021-11-12 03:04] marcuschj commented on #835
@damithc No problem with that

[2021-11-12 10:03] #604 closed

[2021-11-12 10:03] #737 closed

[2021-11-12 10:03] #740 closed

[2021-11-13 14:04] HolmesJJ opened #838 "A bug when select "A duplicate of""
I noticed that if the bug A and bug B are duplicated and we accepted bug A, but when we choose "**A duplicate of**" in bug B, the "**Response**" in bug B will disappear as shown below.

![image](https://user-images.githubusercontent.com/62185825/141646687-9ab26dab-4582-4044-96ae-a7af8fe64ac5.png)

We have to fill in the "**Response**" after we click "**save**".

![image](https://user-images.github

[2021-11-14 05:57] damithc commented on #838
Thanks for reporting this @HolmesJJ
The @CATcher-org/developers will look into this in due course, although it is unlikely we'll be fixing it while the PE is still in progress.

[2021-11-15 01:24] yourally2 opened #839 "Can't ctrl-z to undo in textbox"
Not sure if this is intended, but in the textboxes we can't press ctrl-z to undo the things we write and it's quite inconvenient.
The ones over here:
![image](https://user-images.githubusercontent.com/45702380/141708114-d1859f0a-43d0-4b6c-bc83-7415bbc28d64.png)

[2021-11-15 01:29] kevinchua6 opened #840 "When pasting an image into the textbox, text cursor is moved to the image url after uploading"
As during the PE I was in a rush, I found myself pasting the image and typing the bug reports while the image was uploading.
![image](https://user-images.githubusercontent.com/45702380/141708216-4a5a26a4-f7da-46e0-9bf2-adb4efe223d2.png)
Confusingly, after the image is uploaded, the text cursor is moved to the words in the image url(?) and I end up typing things into the url and wasting time trying

[2021-11-15 07:10] darrenhoon opened #841 "Assignees are not registered"
![image](https://user-images.githubusercontent.com/34526101/141737368-4338f5c9-c433-4b8b-b60a-4b6d9f3027aa.png)

In the above, BananaTechs is part of the assignees but when we open the dropdown box, his checkbox is not ticked.

![image](https://user-images.githubusercontent.com/34526101/141737454-8a252806-d981-47aa-b9ba-87f2de18e79d.png)

This occurs for all issues he is assigned with.

Would catc

[2021-11-15 07:33] damithc commented on #841
@darrenhoon Are you able to assign issues to any other member of the team?

[2021-11-15 07:43] damithc commented on #841
@darrenhoon looks like it is a UI bug due to case sensitivity. It will not affect grading though, as long as the assignee is shown on the UI (even if not ticked in the drop down).

[2021-11-15 07:45] darrenhoon commented on #841
yeap I can assign to others. ah alright great thanks!

[2021-11-15 07:45] #841 closed

[2021-11-15 07:48] damithc opened #842 "Assignees drop-down doesn't auto-tick mixed case user names"
See #841

[2021-11-15 13:00] damithc commented on #840
Thanks for reporting this @yourally2
The dev team will look into this in due course.

[2021-11-15 13:00] damithc commented on #839
Thanks for reporting this @yourally2
The dev team will look into this in due course.

[2021-11-16 08:43] yourally2 commented on #839
Ok thank you!

[2021-11-16 08:43] yourally2 commented on #840
Ok thank you!

[2021-11-16 17:06] damithc opened #843 "Allow adding a warning in the tester response"
Currently, the tester response is transferred to the tester repo as a comment, by a script. The tester response body looks something like this:

[code]

Suggestion: If the script were to insert the following line above at the top, CATcher should ignore that line when displaying the tester response to the user.
[code]

Reason: Inserting this warning at the top will prevent students from editing the

[2021-11-17 14:41] damithc opened #844 "Tester response phase: Show which ones have disagreements"
See https://github.com/nus-cs2103-AY2122S1/forum/issues/415

[2021-11-25 14:36] yourally2 commented on #839
Hi, I would like to work on this issue, is it okay?

[2021-11-26 01:40] yourally2 commented on #839
Seems like this is an [issue](https://github.com/angular/components/issues/16629) with CDK/Material for Firefox which has been fixed since [9.2.4](https://github.com/angular/components/releases?q=%2319238) (we are at version 7.3.7)

[2021-11-26 02:13] yourally2 commented on #832
Hi, can I work on this issue?

[2021-11-27 13:54] yourally2 commented on #824
Can I work on this?

[2021-11-27 16:12] yourally2 commented on #842
I'd like to work on this!

[2021-11-27 16:45] damithc commented on #842
Go ahead @yourally2

[2021-11-27 17:01] yourally2 commented on #842
Ok thank you!

[2021-11-28 02:37] kevinchua6 opened #848 "Warning appears when pressing back but not when pressing cancel"
![image](https://user-images.githubusercontent.com/45702380/143726557-24142564-41dc-4498-923d-ba465e19ad4e.png)
This happened to me once during the Tester Response phase where after I typed a very long message, I pressed the Cancel button thinking it was the Save button resulting in everything being lost. It was frustrating because ~30 minutes of my work was deleted without warning.

I think the a

[2021-12-01 15:21] zhaojj2209 commented on #838
Hello! I am interested in working on this issue, may I make a PR for it?

[2021-12-02 02:14] dingyuchen commented on #838
From the code it looks like the hiding of the response is an intentional behaviour.
Do we want to change this behaviour? @damithc @CATcher-org/developers

[2021-12-02 08:38] damithc commented on #838
Any conceivable reason behind this behavior? UX-wise, I can't think of a reason but perhaps there is a technical reason?

[2021-12-04 08:54] zhaojj2209 commented on #848
Hello! May I work on this issue?

[2021-12-05 03:46] #832 closed

[2021-12-06 04:59] dingyuchen commented on #838
I think the reason is to hide duplicate issues.
If A is a duplicate of B, and B is a responded issue, then only B will be displayed under the "Issues Responded". We can take the the response of A to be the response of B, since the issues are the same, hence writing the response of A is redundant.

[2021-12-06 05:04] damithc commented on #838
hmm... not sure if that's the case though.

First, seems a response _can_ be added even for such duplicate bugs, but only after saving the duplicate status (as per the bug description above).

Second, we _should_ allow the dev to explain why the bug is considered a duplicate, which means we should allow a response even for duplicate bugs.

[2021-12-06 11:17] chunweii commented on #798
Hi, may I work on this issue for my first contribution?

[2021-12-09 08:49] dingyuchen commented on #838
Hmm, I see, that makes sense.
However, the issue is effectively hidden once its been declared a duplicate -> the duplicate issue's description and response is not shown unless a team member specifically clicks the issue number under the **Duplicated Issues** column.

Perhaps in addition to not hiding the response text, we may also show all duplicated descriptions and responses under the parent iss

[2021-12-09 08:57] damithc commented on #838
Yes, I think this is a good idea.

No need, as this is done automatically by the script.

[2021-12-09 10:03] damithc commented on #838
This is correct. The moment an issue is categorized as a duplicate, it automatically inherits assignees and labels from the original issue.

Looks like I misinterpreted the original issue. I thought it was about the response text but it was about the response label.

That said, I think the correct behavior for an issue marked as a duplicate is,
1. not allow any assignee/label changes
2. show assig

[2021-12-09 11:39] dingyuchen opened #851 "Disable creating transitive duplicate relations"
If bug A is marked duplicate of bug B, user may still mark bug B as a duplicate of bug C, creating a transitive relation A -> B -> C.
bug B will then become a "faulty issue" that requires the dev's resolution.

It seems possible to disable marking as duplicate for a bug that already has duplicates, without compromising functionality.
Alternatively we may resolve the relation automatically by setti

[2021-12-09 12:36] damithc commented on #851
I prefer this option.

[2021-12-10 09:40] zhaojj2209 commented on #838
Hello @dingyuchen and Prof @damithc! I've noticed that currently, while the assignee and response labels are hidden when the issue is marked as duplicate, the severity and bug type are not. If I'm not wrong, duplicate bugs will also inherit the bug type and severity from the original issue, so should the above behaviour be extended to these two labels as well?

[2021-12-10 10:51] damithc commented on #838
@zhaojj2209 that's correct. All three labels should be inherited.

[2021-12-10 11:41] zhaojj2209 commented on #838
Thank you for the clarification!

[2021-12-11 09:59] luminousleek commented on #754
Hi, I'd like to work on this!

[2021-12-13 11:59] luminousleek commented on #851
Hi, I'd like to work on this issue!

[2021-12-14 05:31] gycgabriel opened #856 "Question: Difference between release and master branches"
I noticed master branch uses CATcher 3.3.9 while there is a newer release of 3.4.1 on release branch. May I ask if the release branch is to be merged to the master branch sometime in the future? How is the release updated?

Pardon my ignorance, couldn't find answers on the DG.

Thank you!

[2021-12-14 06:33] #824 closed

[2021-12-16 10:26] #842 closed

[2021-12-17 17:30] chunweii commented on #840
Hi, I would like to fix this issue. It would require some adjustments to the code that is responsible for the behaviour of the cursor in the comment editor.

[2021-12-19 06:10] #840 closed

[2021-12-29 03:39] #798 closed

[2021-12-29 06:08] #851 closed

[2021-12-29 06:34] #754 closed

[2021-12-29 06:57] dingyuchen commented on #856
Thank you for the question!
We use `release` to add patches or fixes to the CATcher tool. In the last semester, there was a function that was marked urgent that we needed to update to the working version of CATcher, without including all the merged PRs that was already in master. This is why there is a divergence in the 2 branches now.

We definitely intend to aggregate and synchronize these 2 bra

[2021-12-29 06:57] #856 closed

[2022-01-12 13:15] #848 closed

[2022-01-13 05:19] #838 closed

[2022-01-15 05:09] gycgabriel commented on #818
Editing a title to cause it to be longer than accepted title length produces a Validation Failed popup, similar to when creating an issue. The title will default to the previous title and save, losing the editing title. Can work on remaining in edit screen instead of reverting to original title.

![image](https://user-images.githubusercontent.com/77230723/149609761-efa55aae-e313-4377-a6c4-37a2d00f

[2022-01-19 09:23] gycgabriel commented on #819
Currently, CS2103 website does not provide additional examples for other severity labels. Severity of some issues may be debatable depending on circumstance also. Would it be better to add the examples from the PE readiness quiz for an accurate standard for students to follow?

[2022-01-19 09:29] damithc commented on #819
Good point @gycgabriel But if we do that, we are likely to add them to the respective websites rather than CATcher, for easier maintenance. Also note that CATcher is used by multiple modules, which means examples from one module might not fit another. e.g., CS2113 projects don't have a GUI.

[2022-01-19 11:42] gycgabriel commented on #773
If I understand correctly, the parent `issue.component` sends data of the issue down to the children to populate `view-issue.component`, if ViewChild in `issue.component` is made dynamic, does that mean all children components have to be converted to dynamic as well?

Does issue become undefined in children components because `ngAfterViewInit()` in the parent instantiates later than static childre

[2022-01-21 02:18] #818 closed

[2022-01-21 03:14] chunweii opened #865 "Duplicate issues not updating properly in team response phase"
https://user-images.githubusercontent.com/47494777/150458743-4ed55c32-3aee-4466-b619-63e4471d11b0.mp4

As shown in the video, if I try to update the labels and assignees of an issue quickly, only the latest label/assignee that is changed will be updated in the other duplicate issues.

Sometimes, selecting a label too quickly can also cause it to revert back to the original. (See 0:02 to 0:04)

A w

[2022-01-22 05:07] #772 closed

[2022-01-22 13:40] chunweii commented on #764
I agree with RuiFengg that it is okay to leave the code as it is, since there are only 3 CSS style constants with some duplicated properties in `label.constant.ts`. What do you guys think? @seanlowjk @dingyuchen

[2022-01-23 15:58] seanlowjk commented on #764
@chunweii should be fine. Not really a must to deduplicate at the moment.
We can leave the code as for now.

[2022-01-24 02:02] #837 closed

[2022-01-24 04:29] gycgabriel commented on #773
@kkangs0226

[2022-01-24 10:04] gycgabriel commented on #819
Issue closed as it is difficult to give general examples to severity bugs, and it would be better for users to refer to the website instead where we can provide more detailed examples.

[2022-01-26 03:46] dingyuchen opened #868 "Speed up development builds"
CATcher builds can take quite long (up to 25s).
We can consider changing some configurations for `ng build` to increase the compile times, in development mode only.
some options to investigate: [here](https://stackoverflow.com/a/68209567)

Not a priority since the incremental build time is ~1s. Although faster will be nicer.

[2022-01-28 11:43] kkangs0226 commented on #773
For the first part of your comment, you can try reading these two sources:
ngOnInit vs ngAfterViewInit:
https://stackoverflow.com/questions/40817336/whats-the-difference-between-ngoninit-and-ngafterviewinit-of-angular2#:~:text=ngOnInit()%20is%20called%20right,its%20children's%20views%2C%20are%20created.

Lifecycle Hooks - afterView:
https://angular.io/guide/lifecycle-hooks#afterview

Basically, th

[2022-01-30 06:00] seanlowjk opened #870 "Add Better Logging for GitHub Service"
# Summary

As part of #836 mentioned by @dingyuchen , we would need to add better diagnostics
for our application.
This is such that when errors in the application during runtime are caused by GitHub errors,
we can better find tackle the cause and do the necessary debugging.

## Tasks

- [ ] Integrate `LoggingService` with `GithubService`
- [ ] Add Simple Log statements when updating and creating

[2022-01-30 06:23] seanlowjk commented on #388
@chunweii @luminousleek @gycgabriel Think this is something that would help
our users for next semester. Do let me know if any one of you want to take
this up and we can discuss about this

[2022-01-30 06:36] seanlowjk commented on #870
A simple example of how the logger works can be found [here](https://github.com/CATcher-org/CATcher/pull/720/files)

[2022-01-30 06:49] seanlowjk opened #871 "Tester Response Phase: Add Dropdown to Select Type of Issues"
# Summary

The Issues lists under Tester Response Phase can become too lengthy, even with each table having only 10
issues per list / table.

![image](https://user-images.githubusercontent.com/42912708/151689704-113218ed-d2ab-4e57-a30e-6a80062e6fe3.png)

The above image demonstrates an example of what I mean, with 50% zoom on Chrome

## Description

We can consider having a toggle between either o

[2022-01-30 06:53] seanlowjk opened #872 "Create Issue Templates for Users / Developers"
# Summary

As an Open Source Project, it becomes painful to see developers writing bug reports
which do not clarify what the bug is about. (Which was one of the purposes of CATcher
as well) 😛

## Description

We can aim to come up with a few issue templates for Bug Reports / Feature Requests such that
issue reporters are guided to give good features / clarify their issues before submitting

Can re

[2022-01-30 07:03] damithc commented on #871
Perhaps have three tabs, but show more issues in each tab (e.g., 30 instead of 10). Also, show the issue count in tab heading? e.g., `Faulty issues (3)`

On a separate note, remember to get my greenlight before starting on any work that alters the external behavior of CATcher.

[2022-01-30 07:47] seanlowjk commented on #802
@anubh-v think that this is a good idea to abstract the logic as what we did for item 2.

@CATcher-org/developers feel free to take this up. Can feel free to ask any of the senior
devs.

[2022-01-31 05:20] chunweii opened #873 "Improve user experience of choosing a duplicate issue in Team Response phase"
The current interface for developers to mark an issue as duplicate is shown below.
![image](https://user-images.githubusercontent.com/47494777/151742161-0783ccfa-2305-4b24-8d67-5c81ee050a98.png)

In an actual PE, a group can over 80 issues to respond to. It is very difficult to keep track of which issue is the parent of all the other duplicates. The greyed-out boxes do not help because the user wi

[2022-01-31 06:20] luminousleek commented on #388
@seanlowjk Hello I'll take this up!

Currently bugs that are accepted by the team have this comment:
<img width="908" alt="Screenshot 2022-01-31 at 2 03 08 PM" src="https://user-images.githubusercontent.com/68138671/151746328-d39cb91a-f0c5-4f89-98aa-46c68e4c3567.png">

I'm thinking of adding a method in `tester-response-template.model.ts` to check for this sentence, and then set a flag in `TesterR

[2022-01-31 07:25] damithc commented on #873
Yes, this UX can certainly be improved. The objective is to make it easy for the user to select the correct issue e.g., by providing more info.

[2022-01-31 08:51] dingyuchen commented on #871
+1 to tabs, I think it would make the interface look much more clean.

[2022-02-05 12:57] gycgabriel opened #875 "Add launch.json to .gitignore"
The configuration file for debugging in Visual Studio Code is not ignored by gitignore.

`.gitignore` has `!vscode/launch.json` which excludes the file from being ignored.

It will be good to add `launch.json` to be ignored to prevent configuration files from being uploaded.

[2022-02-07 05:11] #802 closed

[2022-02-10 04:53] luminousleek commented on #871
@seanlowjk @damithc @dingyuchen I've done up a few mockups for the tabs and expansion panels, let me know which you would prefer.

Here's what having tabs would look like:

![catcher tabs](https://user-images.githubusercontent.com/68138671/153333768-a55dd0bd-c348-42cb-a8d3-a2b19d975ad9.gif)

And here are a couple of options for the expansion panel. This is one where only one panel can be opened at

[2022-02-11 08:46] #812 closed, assigned to luminousleek

[2022-02-11 10:51] #810 closed

[2022-02-11 10:51] #814 closed

[2022-02-12 06:19] damithc commented on #871
Thanks for the mockups @luminousleek
We need to balance amount of info shown with the ability to view more info (when needed), the risk of users missing important info (e.g., faulty issues), number of steps needed, etc.
How about the following?
1. Make tables collapsible, similar to 3rd option
2. Put the 'faulty issues' as the 2nd panel. It will be empty most of the time but should be more noticea

[2022-02-12 14:03] luminousleek commented on #871
@damithc Something like this?

![catcher accordion multi panel v2](https://user-images.githubusercontent.com/68138671/153714433-4142b5cf-228d-44c8-8bdc-0cb6e5437790.gif)

[2022-02-13 08:33] chunweii opened #880 "Clicking on open issue in new tab gives error"
![image](https://user-images.githubusercontent.com/47494777/153745347-d97acea0-b9c0-455a-b9c5-ddd28acf3882.png)

I think this bug is introduced by the merging of #859. The `$event` object is not passed into the function, causing this undefined error.

[2022-02-14 05:47] luminousleek commented on #871
@damithc @seanlowjk @dingyuchen Did some styling work, let me know what you think:

![catcher accordion multi panel v3](https://user-images.githubusercontent.com/68138671/153807023-e23f3434-1ef3-48d8-a2a4-f363eda6af32.gif)

[2022-02-14 06:15] damithc commented on #871
Good. In the interest of saving vertical space (which is at the center of this PR's goals), perhaps move Team ID and expand/collapse-all buttons to the top nav bar? Is that feasible? Does that make sense?
I think those two things causing us to wasting a lot of prime screen real estate
![image](https://user-images.githubusercontent.com/1673303/153810014-9e8d8148-d66f-4457-8326-aea1e23da233.png)

[2022-02-14 07:34] luminousleek commented on #871
Putting the Team ID in the top bar may not be very helpful in the Tutor/Admin view to switch between teams, and it also requires some changes in `header.component.html`. It is feasible, but needs a bit of work.

Putting the buttons on the top bar isn't very feasible, since the top nav bar is a separate component outside of the component tree of the main content (which includes the expansion panel

[2022-02-14 08:27] damithc commented on #871
This is fine too.  In general, it would be good to find other ways to save vertical space (e.g., move the search somewhere else) but that can be a different PR.

[2022-02-15 23:31] dingyuchen commented on #773
This issue might require a bit more investigative effort. For one, we need to consider if the lifetime hooks of `view-issue.component` is reasonable and if restructuring can be done such that `ngAfterViewInit()` can be used.

[2022-02-21 09:34] gycgabriel commented on #506
Use case two of this: `For all issues that I have responded, I want to know which issue do I accept, and which issue(s) do I disagree with.` is duplicate of #844 and addressed by PR #885

[2022-02-21 09:41] gycgabriel commented on #773
As this issue requires more in-depth investigation of changing information flow between parent and child through the application, and is not a priority, I have ceased working on this issue for now.

[2022-02-21 09:54] gycgabriel commented on #829
I'm unsure what this undo button refers to. Has this feature been removed in current version of CATcher? @dingyuchen @seanlowjk

[2022-02-21 10:06] gycgabriel commented on #826
Will be addressed with #843

[2022-02-21 10:06] #826 closed

[2022-02-21 10:14] gycgabriel commented on #865
Similar to #801

[2022-02-21 10:25] gycgabriel commented on #865
I'm guessing this is due to the changing of multiple github labels from individual functions get interleaved and only the last running label is successfully changed.

[2022-02-21 11:59] damithc commented on #829
@gycgabriel This could be a default Electron feature that is available in the desktop version only.

![image](https://user-images.githubusercontent.com/1673303/154951223-aa548085-f213-4c8d-9fdf-ad217f5adf32.png)

[2022-02-21 12:21] gycgabriel commented on #873
I would suggest a search box with dropdown, so the user can enter the id or part of the title to filter the dropdown options.

Issues marked as duplicate can be removed from the options, alternatively clicking on an issue marked as duplicate could assign the parent of the duplicate instead.

[2022-02-21 13:45] gycgabriel commented on #813
Has been fixed by previous PRs.

[2022-02-21 13:45] #813 closed

[2022-02-21 13:55] gycgabriel commented on #843
This is already possible in the current version of CATcher.

Currently, CATcher finds the Team Response by searching in the comment for the first instance of `Team's Response`. Hence, the warning can be added in before this header without it appearing in CATcher.

[2022-02-21 13:57] gycgabriel commented on #843
For example, [This issue](https://github.com/gycgabriel/bugreporting/issues/6) does not show the warning

![image](https://user-images.githubusercontent.com/77230723/154968959-e3d0f152-753a-49cf-90bb-50cddb0e1992.png)
![image](https://user-images.githubusercontent.com/77230723/154969066-ce0b4419-999a-4a7b-8263-529d3cca0822.png)

[2022-02-21 13:58] damithc commented on #843
Thanks for checking this @gycgabriel 👍

[2022-02-21 15:50] gycgabriel commented on #875
As per the discussion in #876, we have agreed to upload `launch.json` files to CATcher repository because:
1. The `launch.json` file remains the same regardless of operating systems.
2. Having `launch.json` file allows new developers to have the necessary file ready to debug immediately.

[2022-02-21 17:46] gycgabriel commented on #843
No problem! Will close this issue now

[2022-02-21 17:46] #843 closed

[2022-02-21 18:11] gycgabriel opened #889 "Suggestion: Add a timed toast to undo deleting issues"
At max 10 sec to undo toast - Prof

**Currently:**
* User deletes issue without confirmation box
* Possibility of deleting issue accidentally - probability low but outcome disastrous in a timed assessment

**Solution:**
* Create a toast notification with Undo option upon deleting an issue that lasts for a fixed duration
* Undo UX design preferred over Confirmation box design because deleting an is

[2022-02-22 02:38] #875 closed

[2022-02-23 03:19] gycgabriel opened #890 "Refactor colour constants in LabelService.ts"
Currently, colour constants are given in hex values in LabelService.ts as pointed out in PR #885

Let's refactor colour constants with naming scheme of Pale, Light, Color itself, Dark

E.g.
[code]

[2022-02-25 03:09] luminousleek opened #892 "Add unit tests for comment templates"
# Summary
Currently, there are no tests written to check the parsing of Github comments. Let's add these tests.

## Description
There are a number of PRs that deal with the parsing of Github comments, such as #866, #877 and #885. With the number of features being added to the various templates, not having any tests written for them will make them more error prone.
We can reuse the comments in `git

[2022-02-25 05:50] #870 closed

[2022-02-25 12:58] luminousleek opened #893 "Refactor template.model.ts"
# Summary
The regex function currently in `template.model.ts` is very hacky, even with the workarounds in #877. Let's refactor Template so that it's less hacky.

## Description
The original `Template` was written assuming Github comments were in this format:
[code]
As such, the current regex expression in Template before is
`new RegExp('(${headerString})\\s+([\\s\\S]*?)(?=${headerString}|$)', 'gi'

[2022-02-25 12:58] luminousleek commented on #893
## Proposed Solution
Made another comment so that we can follow the issue template

In order to support templates that either match the headers or match the entire comment, we could change the constructor to use union types, like so:
[code]
So if a template wants to match the entire comment, can just pass in a string, and if it wants to match headers then it can pass in an array of Headers as per

[2022-02-26 03:53] dingyuchen commented on #893
I would like to take this opportunity to suggest Parser Generators for the refactoring. The proposed solution essential splits the logic of handling literal comments and headers from 1 regex into an explicit if branch.

I think code quality can be further improved if each Template defines its own parser, and therefore matching algorithm, which is then supplied to the TemplateModel. This should rem

[2022-02-26 12:27] luminousleek commented on #893
Sure looks like it. Using [arcsecond](https://github.com/francisrstokes/arcsecond), the parser for `TeamResponseTemplate` can be something like
[code]
It's longer but definitely more readable than the regex we have now. And we can change the entire `Template` class to simply
[code]
Using the parser generator, we can probably also do away with `Section` and `SectionalDependency` too since the parse

[2022-02-27 07:24] #388 closed

[2022-02-28 12:07] #880 closed

[2022-03-02 09:29] #844 closed, assigned to gycgabriel

[2022-03-03 10:37] #767 closed

[2022-03-04 02:20] #890 closed

[2022-03-05 17:08] damithc opened #897 "Only one file can be drag-dropped at a time"
When dragging and dropping files to upload (when creating a new issue), only one file is uploaded even if multiple files are dropped at the same time.

[2022-03-05 17:09] damithc opened #898 "Add a link to report CATcher problems"
Suggestion: add a 'Report CATcher problems' icon in the top nav bar so that users can easily reach this issue tracker to report CATcher problems.

[2022-03-06 12:49] seanlowjk commented on #829
Sorry for the late reply, it has not been there.

As far as I know, it will not affect the tracker that badly, cause to be honest, students can also reopen their deleted issues on their GitHub repository and it will have the same effect (even though I doubt that it will affect the tracker)

Can correct me if I am wrong about this prof @damithc  and @anubh-v

[2022-03-06 12:53] seanlowjk commented on #898
@gycgabriel do you want to pick this up? This seems like a good small feature to have for the upcoming PE test runs as there will be a number of students that will be reporting bugs :P

[2022-03-06 12:57] seanlowjk commented on #689
Given that no students has reporting this issue last semester, will it be fine if we close this issue? @damithc

[2022-03-06 13:04] seanlowjk commented on #872
Think we can work on this low-hanging fruit in time when tutors / students are starting to report bugs within CATcher within the next few weeks along with #898

@gycgabriel @luminousleek or @chunweii , wanna work on this? Shouldn't take too long!

[2022-03-06 13:43] damithc commented on #898
As we have already started testing the current version for production use, I think best not to do any further updates to the production release for this semester, except critical bug fixes. But go ahead and add this feature for future use.

[2022-03-06 13:59] damithc commented on #689
I think it's because I gave them the correct access permissions in recent semesters. So, the problem doesn't happen if I do my job correctly :-p

[2022-03-06 14:00] chunweii commented on #872
I would like to work on this @seanlowjk

[2022-03-06 14:02] gycgabriel commented on #898
Thanks! I shall work on this

[2022-03-06 14:04] gycgabriel commented on #872
Is it possible if I work on this instead? @chunweii

[2022-03-06 14:15] damithc commented on #829
Yes, reversing a delete operation should not cause problems to the PE scripts.

[2022-03-07 09:45] kouyk opened #901 "Character limit for description should be indicated like the title"
![image](https://user-images.githubusercontent.com/1729497/157006125-a07508b4-fd83-49d7-afed-24dc123e6077.png)

The character count for the description is only validated upon submission, which is inconsistent with the behaviour of the title. The title input box prevent anymore characters from being entered once the limit is reached. Ideally the same behaviour should be implemented for the descript

[2022-03-07 11:34] luminousleek commented on #893
After some thinking and experimentation, I will be tackilng this issue with (at least) 3 PRs:
1. Use arcsecond to mimic the current regex - i.e. search for headers within the comment #900
2. Update the parsers to use `coroutine` to extract relevant information
2.5. Add tests for parsers (may be combined with the PR above)
3. Remove `Header`, `Section` and `SectionalDependency` since the informatio

[2022-03-08 06:38] #872 closed

[2022-03-08 07:21] dingyuchen opened #902 "Add localStorage logging for ParseErrors"
Currently CATcher has components for displaying parse errors to the user. However, more information would certainly be helpful for a dev to confirm the comment format and advice fixes accordingly.

Arcsecond parsers report character position and expected vs seen input in the case of a parse error.
Let's include this information in our custom logger.

[2022-03-08 08:33] luminousleek opened #903 "Abstract code to find comments that match a template to the Template class"
# Summary

The code that finds a comment that matches a template is duplicated in 4 templates. Let's abstract this into the parent Template class.

## Description

In `TeamResponseTemplate`, `TeamAcceptedTemplate`, `TesterResponseTemplate` and `TutorModerationTodoTemplate` there is some form of this block of code in the constructor
[code]
Let's abstract this as a method in the `Template` superclas

[2022-03-09 13:57] ong6 opened #905 "UI not consistent depending on the length of text"
**Describe the bug**
UI inconsistencies with the `edit` and `new issue` button that is next to the top of the issue.

Long text example:
![image](https://user-images.githubusercontent.com/19247856/157455489-8d1d40b1-9a98-404f-bfce-53ccd2ac3b51.png)

Short text example:
![image](https://user-images.githubusercontent.com/19247856/157455525-35e11b2f-b297-4c3c-bc6b-5d70a214c509.png)

Referring to the

[2022-03-10 07:45] #903 closed

[2022-03-13 14:18] damithc opened #906 "Limit issue body size"
GitHub APIs (used by the CATcher issue transfer scripts) has a limit of 65536 chars for the issue body. Perhaps CATcher can limit the body size to 40,000 chars? The lower internal limit is because we might have to add additional content to the issue body in later stages of the PE.
There is no need to do this visibly (e.g., show a character count). We can trigger an error message only when a body e

[2022-03-14 04:29] gycgabriel commented on #898
Is this appearance ok? The button opens 'https://github.com/CATcher-org/CATcher/issues'

![image](https://user-images.githubusercontent.com/77230723/158105011-68a5029f-d3bc-4a74-9739-42708c881578.png)

[2022-03-14 06:08] damithc commented on #898
Perhaps we can tweak it as `give feedback about CATcher` and use an envelope icon? That way, it covers bugs as well as feature requests. What do you think?

[2022-03-14 10:55] damithc opened #908 "Dev response phase: no need to block duplicate flagging based on priority"
Current: CATcher doesn't allow assigning a duplicate if the duplicate has a higher priority than the original. The team needs to downgrade the priority of the duplicate to match the original before it can be assigned as a duplicate.

Suggestion: Remove this restriction because the script copies over the priority of the original to the duplicate when transferring bugs to the next phase. i.e., the d

[2022-03-14 12:02] seanlowjk commented on #906
Related to issue #901

[2022-03-14 17:21] chunweii opened #909 "Parsing bug for duplicate issues in Team response phase"
**Describe the bug**

During the team response phase, if I add a particular comment (see below) as the team's response to issue 46, CATcher will think that I am marking issue 46 as its own duplicate, even if I want another issue to be the duplicate of 46.

**To Reproduce**
Steps to reproduce the behavior:
1. Select an issue to respond to
2. Type the following into the team's response
[code]
3. Cli

[2022-03-15 02:02] gycgabriel commented on #898
That is a good point, I think this feedback icon would suit `Give feedback about CATcher`.
![image](https://user-images.githubusercontent.com/77230723/158291117-c9f92e57-4489-4c47-8a6b-fbf952e71843.png)

[2022-03-15 04:03] chunweii commented on #898
I think that in addition to the icon, it would be good to add a text description like `Give feedback` beside the icon rather than putting it in a tooltip. This is so that students will know which button to click on to report issues or suggest features.

[2022-03-15 04:20] damithc commented on #898
Good point. I think we have to decide based on how much noise it adds to the UI. There are two such icons at present, both are expected to be used very rarely, if at all.

[2022-03-15 04:24] luminousleek commented on #898
<img width="1312" alt="Screenshot 2022-03-15 at 12 19 34 PM" src="https://user-images.githubusercontent.com/68138671/158305836-e1073c9f-600a-4bbd-99b9-d5a214ae9e2f.png">

Currently the CATcher top bar looks like this - I'm wondering if adding the "Give feedback" description will make it even more cluttered. I've done a quick mockup and it looks like this:

<img width="1321" alt="Screenshot 2022-03

[2022-03-15 04:50] damithc commented on #898
We can keep the text description of `Sync` (which users could use often) and the other three can be just icons (as they are not expected to be used VERY rarely).

[2022-03-15 05:57] damithc commented on #909
@chunweii to clarify, the cause is that the user entered manually the exact text that CATcher uses to indicate duplicates, right?

[2022-03-15 06:32] chunweii commented on #909
@damithc yes indeed. I am also testing out one issue that will have the exact text that CATcher use for the tester's response phase here: https://github.com/CATcher-testbed/alpha5-dev-response/issues/10

[2022-03-15 06:47] damithc commented on #909
Got it. It is indeed a problem but not a high priority. This can only happen (I hope) if the student intentionally tried to sabotage the process and in that case it would be like shooting themselves in the foot because they are likely to bear the cost of the sabotage (I can't think of a way they can gain an advantage of doing this). Plus, if the sabotage is discovered, we will be penalizing the st

[2022-03-15 11:29] luminousleek commented on #909
Actually, CATcher's normal behaviour is not to show the `## Duplicate status...` portion, rather it will display duplicate information at the side (the "A Duplicate Of:" section)

<img width="1272" alt="Screenshot 2022-03-15 at 7 19 57 PM" src="https://user-images.githubusercontent.com/68138671/158366937-3af7d20c-7ebc-4534-8eb7-dd557a7e5758.png">

Also, the current way that CATcher parses duplicat

[2022-03-17 03:50] chunweii commented on #764
Closed by #891

[2022-03-17 03:50] #764 closed

[2022-03-17 03:58] luminousleek opened #911 "Font size to edit issue labels too small on Safari"
**Describe the bug**
After a Tester Response has been submitted, the font size dropdown menu to edit the response labels (e.g. severity, response) is significantly smaller on Safari than on Chrome. See screenshots below.

**To Reproduce**
Steps to reproduce the behavior:
1. Open CATcher on Safari
2. Go to an issue that has already been responded to
3. Click on the edit icon on the side
4. See erro

[2022-03-18 14:54] chunweii commented on #836
Closed by #878

[2022-03-18 14:54] #836 closed

[2022-03-20 03:24] warrencxw opened #914 "Difference in output due to newline characters"
**Describe the bug**
Due to the use of markdown, newline characters and `<br>` tags work together to give different outputs between
1. CATcher issue editor
2. CATcher issue view
3. Issue on Github repo created for CATcher

**Screenshots**
1. CATcher editor view
![image](https://user-images.githubusercontent.com/69459230/159146580-4f6ccbc6-4e4c-4a9d-b147-a37791d0e695.png)
2. CATcher issue view
![im

[2022-03-20 06:27] damithc commented on #914
@warrencxw thanks for raising this issue.

I believe the current CATcher is aggressively sanitizing HTML tags (for security reasons), even safe tags such as `<br>`
We are hoping to white-list some safe tags in a future version.

@CATcher-org/developers can someone verify the above?

[2022-03-21 03:47] gycgabriel commented on #914
Current CATcher is not sanitizing `<br>` tags, CATcher is allowing safe HTM tags according to merged PR #761.

As proof, when editing the issue on github, the <br> tags can be seen.

I think our concern here should be the spacing between line 1 and line 2, which only within our Preview window appear side by side. On Github, these appear on different lines in both the Github write and preview windo

[2022-03-21 13:59] lowyanshuang opened #915 "Cannot resize image"
**Describe the bug**
Unable to resize image

**Screenshots**
![image](https://user-images.githubusercontent.com/54314980/159276622-0bac7ec1-f44a-41ea-b3e4-8b0ce6c77513.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: chrome

[2022-03-21 14:22] damithc commented on #915
Good point @lowyanshuang
As of now, GitHub issue tracker doesn't have an easy way to resize images either, but you can use `<img ...>` HTML tags to specify the size, which is supported by CATcher as well as GitHub issue tracker.
e.g., `<img src="https://raw.githubusercontent.com/damithc/alpha5/main/files/babc88b3-14a6-46b7-97a9-ab770f3d6486.png" width="600" />`

<img src="https://raw.githubusercon

[2022-03-22 13:59] #873 closed

[2022-03-24 09:09] #908 closed

[2022-03-27 14:44] chunweii opened #916 "Suggestion: Use Github API to render markdown previews"
With issues such as #914 and #834, the markdown preview is not the same as what we will see on github.

Currently, the markdown preview uses a third-party library, ngx-markdown. While ngx-markdown is a good markdown library for angular applications, it does not give the same output as Github flavored markdown.

Let's use the Github API in [https://docs.github.com/en/rest/reference/markdown#render-

[2022-03-27 14:57] damithc commented on #916
Thanks for looking into this @chunweii
Keep in mind that we prefer to minimize the live API calls, as that can run into performance issues as well as other problems such as GitHub throttling.

[2022-03-29 05:43] #898 closed

[2022-04-05 16:44] chunweii commented on #916
So far I have used the github markdown api for previews only in #919. However, to use it throughout CATcher, there will be several places that needs to be changed to use the markdown api. If users click on many different issues repeatedly, CATcher will have to send many API requests to render the markdown. Prof's point about performance issue and throttling will be crucial here. If the markdown fo

[2022-04-07 07:22] seanlowjk commented on #916
Sorry for the late reply, I think this can be used mainly when creating and editing bug reports, assuming a user doesn't spam reload the preview, which can be a pain in the neck.

I have seen in your PR in #919 maybe we can somehow to do custom rate limiting. What are your thoughts? @dingyuchen @luminousleek @kkangs0226 @gycgabriel

Tagging prof @damithc for input and advice

[2022-04-07 07:49] damithc commented on #916
I wonder if it is worthwhile to use the API _only_ if the text contains certain elements (i.e., elements that GitHub renders differently from our version). I'm assuming in most cases the difference between our version and GitHub version is insignificant and hence it's OK to use our version.

[2022-04-12 07:58] #897 closed

[2022-04-15 06:49] shunyao643 opened #922 "Unauthorized user bug"
**Describe the bug**

I am a CS2113 student preparing to use CATcher again for my PE. As given in the instructions, I am required to:

I am getting an "Unauthorized user." message upon logging into the CS2113/T PE session. This error is thrown after I have chosen to log in with this GitHub account.

**To Reproduce**
Steps to reproduce the behavior:

1. Select CS2113/T PE
2. Click on 'Submit'
3. Cl

[2022-04-15 07:00] #893 closed

[2022-04-15 07:10] damithc commented on #922
@shunyao643 Thanks for raising this. It was due to a misconfiguration from CATcher side. We have corrected it now.

When you select the profile, ensure the second field is as follows (i.e., `nus-cs2113...` instead of `nus-tic4002...`).
![image](https://user-images.githubusercontent.com/1673303/163537434-97e1b4cd-b1dd-4aeb-a447-5e4a476a0291.png)

If it is not, you'll need to refresh the browser or

[2022-04-15 11:27] shunyao643 commented on #922
It works for me now, thanks Prof!

[2022-04-15 11:27] #922 closed

[2022-04-17 04:52] damithc opened #924 "Use existing label colors"
Current: CATcher seems to be using its own colors for labels. e.g., both `type.FeatureFlaw` and `type.DocumentationBug` seem to use the same color.
Suggestion: If the label already exists in the repo, use that color instead of assigning our own color.

[2022-04-17 05:02] damithc opened #925 "Dev response phase: team unable to assign member to bugs"
@geraldneo567 reported that none of his team members (@ryanwalterlee, @sophiien, @benmurphyy, @yokester98) assign team members to bugs. This is the error shown.

![image](https://user-images.githubusercontent.com/1673303/163701172-fb9be239-7432-447f-bfc2-55c071a729f9.png)

~~No other team has reported such a problem so far (and some have assigned members to bugs already) which means the problem co

[2022-04-17 05:04] seanlowjk commented on #925
Hi @geraldneo567 , is it possible to check your log file and see any issue with the http requests sent to GitHub?

[2022-04-17 05:06] damithc commented on #925
For reference, data.csv is https://github.com/nus-cs2103-AY2122S2/pe/edit/master/data.csv

[2022-04-17 05:06] geraldneo567 commented on #925
[CATcher-log (1).txt](https://github.com/CATcher-org/CATcher/files/8501023/CATcher-log.1.txt)

Hi Sean, I have attached the log file after the bug. All the HTTP requests seem to have no issue (statuscode 200), but the error occurs at the end

[2022-04-17 05:18] damithc commented on #925
@CATcher-org/2021-devs a few more teams have reported this, from CS2103 and CS2113 so far. e.g., https://github.com/nus-cs2103-AY2122S2/forum/issues/276

So, it's not just this team although some have managed to assign team members already.

[2022-04-17 05:19] siewyangzhi commented on #925
Hi, i am also facing the same issue whereby catcher mentions that my account is unauthorised.

![image](https://user-images.githubusercontent.com/69446719/163701548-d9c57aa6-dd18-40f5-9d3e-31d3987bac4a.png)

[2022-04-17 05:20] damithc commented on #925
Those who are facing this, are you unable to assign other members too or this is only when you assign yourself?

[2022-04-17 05:22] seanlowjk commented on #925
Turns out it was a problem with some existing implementation with `areUsersAssignable` where it only retrieves the first 30 users of an organization. You can refer to [this sample API call](https://api.github.com/repos/nus-cs2103-AY2122S2/pe-dev-response/assignees)

As a result, the rest will be considered to be so called "unauthorized" caused they are not part of the 30 authorized users.

We will

[2022-04-17 05:23] okkhoy commented on #925
@siewyangzhi  is from CS2113 (data file here: https://github.com/nus-cs2113-AY2122S2/pe/edit/master/data.csv)

[2022-04-17 06:40] seanlowjk commented on #925
@siewyangzhi @geraldneo567 I have just pushed the hotfix, can you help to check if now you are able to assign?

[2022-04-17 07:33] siewyangzhi commented on #925
@seanlowjk I can assign myself now. Thank you

[2022-04-17 07:37] damithc commented on #925
@ryanwalterlee, @sophiien, @benmurphyy, @yokester98 how about you guys? Can assign others now?

[2022-04-17 07:38] geraldneo567 commented on #925
Works for me now. Thank you!

[2022-04-17 07:50] damithc opened #928 "Use pagination for all applicable API calls"
Similar to #925, some problems only surface when the query result exceeds a certain limit. We had a similar issue with labels earlier.

Suggested:
* When making such API calls, use the maximum result size rather than the default (typically, the default is 20-30 while the maximum is 100)
* Do not assume all results will be returned in the first call. Whenever the API supports pagination, we much ch

[2022-04-18 06:16] YitHien commented on #925
Hi, I am still unable to assign myself to any of the issues. Anyone able to assist? Thank you!

Same error as those commented above:

![image](https://user-images.githubusercontent.com/69446722/163764047-271f6648-e1d5-499c-89b5-edc9cbcc91b8.png)

[2022-04-18 06:32] damithc commented on #925
@YitHien can you try a hard refresh of the browser or try a different browser, in case it is a caching issue?

[2022-04-18 06:48] YitHien commented on #925
Got it, thank you!

[2022-04-18 08:36] TypeDefinition opened #930 "We accepted a bug report but it still shows as "Pending Reponse""
**Describe the bug**
We accepted a bug report but it still shows as "Pending Response"

**To Reproduce**
Unknown. It just occurred by itself.

**Expected behaviour**
The accepted bug should be under the "Responded" category.

**Screenshots**
![image](https://user-images.githubusercontent.com/13763067/163781386-0a060de4-c2fb-406c-aec8-fae66b030c26.png)
![image](https://user-images.githubusercontent

[2022-04-18 08:57] damithc commented on #930
@TypeDefinition could be due to a concurrent action by a team member (see below).
![image](https://user-images.githubusercontent.com/1673303/163784075-774bbba5-9652-4814-82f6-03d6e42c0627.png)

Try clicking on this button:
![image](https://user-images.githubusercontent.com/1673303/163784148-ee1b69ef-eb38-4e26-a9cf-a794dfcd2db4.png)

[2022-04-18 09:23] TypeDefinition commented on #930
Thanks prof

[2022-04-18 09:23] #930 closed

[2022-04-18 17:26] yusufaine opened #931 "Searching for issues assigned to multiple users"
**Describe the bug**
Filtering by username does not work if specified username is not the first one in the list of assigned users.

**To Reproduce**
Steps to reproduce the behaviour:

Currently searching in "Issues Responded" but I'm inclined to believe that the filtering for other sections use the same logic
1. Search for username.
2. Only issues where I am the sole or first assignee is returned.

[2022-04-19 16:29] #931 closed

[2022-04-20 08:48] bingsen0806 opened #934 "Catcher allows marking LOW bugs as duplicate of VERY LOW bugs, but does not allow MEDIUM bugs to be duplicate of LOW bugs"
**Context**:
I was a student using Catcher for CS2103T PE. I used Catcher for Phase 2 and Phase 3 of the PE and realized some issues (possibly not an issue, maybe it is just me who don't understand the rationale)

**Description**:
For clarity all severity levels described are the original severity levels reported by the tester.

During phase 2 (developer response), my team realize that we are unab

[2022-04-20 09:07] cheehongw opened #935 "Catcher does not show responses after divider line if divider line is used"
**Describe the bug**

When writing my tester disagreement in the tester-response phase, I tried to use github markdown's divider line

When I submitted my response, everything after the divider was not rendered.

**To Reproduce**
Steps to reproduce the behavior:

1. In tester-response phase, write some text before a divider line and some after
2. Submit the response
3. The submitted response only

[2022-04-20 10:21] damithc commented on #935
@cheehongw thanks for reporting this.

Yes I suspect CATcher attributes a special meaning to the the horizontal line. Perhaps you can manually edit that issue response using the GitHub UI to replace the horizontal line you added with `<hr>` to see if CATcher is able to show the response again? Be careful not to change anything else. In particular, don't touch other horizontal lines in the response

[2022-04-20 10:36] bingsen0806 commented on #934
Thanks for the explanation prof!

[2022-04-20 10:36] #934 closed

[2022-04-21 14:13] cheehongw commented on #935
![image](https://user-images.githubusercontent.com/72195240/164476868-c3434dae-1770-4378-8db2-d5156d745ae2.png)

CATcher renders `<hr>` properly in the preview, as pointed to by the green arrow

but adding `<hr>` caused CATcher to not be able to render github markdown blockquotes properly (circled in red)

[2022-04-21 15:41] damithc commented on #935
Thanks for the update @cheehongw
There needs to be a blank line between the `<hr>` and the following content. Otherwise the same thing can happen even on GitHub, as you can see below:

<hr>

<hr>

[2022-04-21 15:59] cheehongw commented on #935
@damithc

I tested out the behavior you mentioned, and it doesn't seem to be the same weird behavior as shown in the screenshot above.

In the same screenshot, the header `### Response to dev-team's appeal` is rendered correctly, because there is a blank line between `<hr>` and the following content.

The blockquotes just fails to render correctly in preview mode, even when tested with multiple bl

[2022-04-22 05:43] soloplxya opened #936 "Unable to respond to an issue"
**Describe the bug**
Unable to respond to an issue pending a response.

**Expected behavior**
Should see a section that allows me to respond to the issue.

**Screenshots**
![image](https://user-images.githubusercontent.com/69782911/164610619-8c90fbe6-3d4a-4352-9ede-338a81e298a8.png)

**Desktop (please complete the following information):**

- OS: Windows 11

**Link to issue in concern:**
https://c

[2022-04-22 06:00] damithc commented on #936
@soloplxya please post a link to the issue in concern

[2022-04-22 06:13] damithc commented on #936
@soloplxya If GitHub allows it, you can try to delete all your past edits to that comment and see if that works. You may have to logout and login again in CATcher after updating the comment on GitHub UI.

[2022-04-22 08:25] soloplxya commented on #936
Was able to fix it by updating the format of the comment & deleting the previous edits. Thank you so much for the help. 👍

[2022-04-22 08:36] #936 closed

[2022-04-23 05:30] damithc opened #937 "Support previewing as another user"
**Is your feature request related to a problem? Please describe.**

After setting up a session for a module, it would be good to preview what students will see. Similarly, if a student is facing a problem, it would be good if we can simulate what that particular user sees.

**Describe the solution you'd like**
Provide a way to preview as another user. e.g., by adding `?user=adamGan` to the URL.

T

[2022-04-23 09:45] #889 closed

[2022-04-23 09:46] seanlowjk commented on #931
Thank you @yusufaine , we have fixed this issue and it will be pushed with the next release, thank you!

[2022-04-23 10:04] chunweii opened #939 "Improve readability of displayed github api error message."
Currently, error messages that are due to errors in github api calls (for example, trying to add an unauthorized assignee to an issue) are displayed in the error snackbar as a raw message with json strings or a very generic error message such as "Validation Failed".

In #933, it is suggested that the error message for validation failed due to assignee could be `Unable to assign the selected user(s

[2022-04-23 10:14] #925 closed

[2022-04-24 02:22] yhtMinceraft1010X opened #940 "Deprecation - Update Codecov Action"
**Is your feature request related to a problem? Please describe.**
The Codecov Bash Uploader used in `v1` of Codecov's GitHub Action wrapper has been [deprecated](https://about.codecov.io/blog/introducing-codecovs-new-uploader/):
https://github.com/CATcher-org/CATcher/blob/b8a5a34ecfebfcbeab4b831964b6bf834bd9ea88/.github/workflows/coverage-report.yml#L27-L29
It has since been replaced by a new upl

[2022-04-24 02:28] yhtMinceraft1010X opened #941 "Deprecation - Upgrade Node version"
**Is your feature request related to a problem? Please describe.**
Node.js version 12 will reach [end-of-life](https://nodejs.org/en/about/releases/) on 30 April 2022. It is important to upgrade to a newer Node LTS version like Node 14.

**Describe the solution you'd like**
RepoSense has recently upgraded to Node 14. Other projects like [MarkBind](https://github.com/MarkBind/markbind/issues/1862)

[2022-06-04 07:08] seanlowjk commented on #906
This is a good first issue for new developers to handle.
There are a few key places to enforce the character limit for the `description` or the `body` of the issue. The idea is that we **should not** check it before sending the API request.

Opening this up as a `good first issue`.

[2022-06-04 07:22] seanlowjk opened #944 "Standardize MAX_ITEMS_PER_PAGE"
# Summary

In our `github.service.ts`, there are different functionality which require us to fetch multiple items across
different API Calls (in pages).

Let's us standardize this constant to be used across the API calls which are retrieving multiple items across
different pages.

[2022-06-04 07:30] seanlowjk opened #945 "IssueService: Add Filter Constants"
# Summary

Filters such as `FILTER_BY_CREATOR` and `FILTER_BY_TEAM` are being used in both
`issue.service.ts` and `issue.model.ts` and take on the role of magic numbers.

Let us assign proper constants to these magic values.

[2022-06-04 07:59] gycgabriel commented on #689
@seanlowjk This may be a `good first issue` to change the error message to `No write access to repository`

[2022-06-04 11:47] cedricongjh commented on #944
hi sean, i'm interested in taking up this issue, may I be assigned to it?

[2022-06-04 12:00] seanlowjk commented on #944
Sure, feel free to raise a PR then =)

[2022-06-04 12:00] seanlowjk commented on #689
Good idea! Let's do it! @gycgabriel

[2022-06-04 14:53] luminousleek opened #947 "Improve documentation on loading custom CATcher sessions"
**Describe the bug**
The [Testing](https://catcher-org.github.io/dg/testing.html) page on the DG contains a section on loading custom sessions for CATcher, but does not detail how to create or set up these custom sessions. As such, new developers may be confused about how these custom sessions work.

**Expected behavior**
There should be some documentation on how to set up these custom sessions. I

[2022-06-05 04:07] #700 closed

[2022-06-06 17:28] chunweii commented on #944
Seems like the graphql queries are also using the magic literal 100. Perhaps the number can also be removed and passed in as an argument

[2022-06-08 11:20] gycgabriel opened #948 "Inline documentation for GithubService"
## Rationale:
Github Service is a key component of CATcher's backend API calls to Github. However, it is currently lacking in sufficient inline documentation to guide new developers. Examples for confusion are the methods `fetchIssuesGraphql` and `getIssuesAPICalls`, `toFetchIssues`, and `withPagination`, it is difficult to tell by the name of the methods themselves what these methods do.

## Outl

[2022-06-11 08:14] kevinchua6 opened #949 "When developing, how to get immediate feedback"
I'm a bit unclear on this, but whenever I make a change the token is not stored, so I have to log in again. I find this quite troublesome as every little change I make has to wait 30 seconds before I get feedback.

Is this the current workflow? Or is there a shortcut to disable the login / keep the token? I think merging https://github.com/CATcher-org/CATcher/pull/923 will be very helpful for deve

[2022-06-11 08:15] kevinchua6 commented on #949
And is there a group for me to ask questions as well? Over here seems a bit slow in terms of communication for questions like these

[2022-06-11 12:33] gycgabriel commented on #949
Hello, you are right, there is currently no way to remain logged in in CATcher, so developers will have to log in each time we make changes, recompile and run.

#923 has not been completed yet

[2022-06-24 15:42] cedricongjh commented on #939
hello, may I take up this issue, thanks!

[2022-06-24 15:50] chunweii commented on #939
Hi @cedricongjh, sure!

[2022-06-26 09:47] kevinchua6 commented on #937
Should I look into implementing this or is it just for discussion? In my opinion 1 & 2 seems reasonable.

For 3, aren't all the devs already in the data.csv file? I'm not sure why it is necessary to add all the devs as a separate team. Sorry if the questions I'm asking are dumb I'm kinda new to the project haha

[2022-06-26 11:54] damithc commented on #937
@kevinchua6
1. data.csv file is specific to each CATcher session. E.g., the one used in the PE is different from the PE dry run, even if it is in the same semester. Normally, devs shouldn't be in the data.csv as they are not regular users, although we sometimes add them to the data.csv to facilitate troubleshooting.
2. data.csv contains regular users. If this feature is not available to regular us

[2022-06-26 12:26] #949 closed

[2022-06-26 17:31] cheehongw commented on #948
hello, may I take up this issue? thanks!

[2022-06-27 17:24] gycgabriel commented on #948
Yes, please go ahead ^^

[2022-06-28 11:37] honganhcs commented on #906
Hi can I work on this issue?

[2022-06-28 11:39] kevinchua6 commented on #689
After looking into this issue, it seems that the solution to this is rather hacky. `HttpError: Must have admin rights to Repository` is thrown by the Github API, so if we want to change the error message we have to either:
1. Check the status code == 403 (not a good idea because there may be other messages with status code 403
2. Check for an exact/close to exact match of the error message given b

[2022-06-28 19:00] damithc commented on #924
@kevinchua6 Is it possible that CATcher changes the the GitHub label color too? From what I remember, those two labels had two different colors to begin with but got changed to the same color after students used CATCher on that issue tracker.

[2022-06-29 02:12] kevinchua6 commented on #924
@damithc Sorry Prof I looked at the code wrongly, you are right. What that method does is that it checks if the labels in the GitHub matches the ones required by CATcher, and updates the one in the GitHub. Apologies for the misinformation >< Basically what it does is that:
1. It checks whether GitHub label colors matches the required colors (which has type.FeatureFlaw and type.DocumentationBug wit

[2022-06-29 13:03] gycgabriel commented on #906
Hi, yes please go ahead!

[2022-06-29 15:23] kevinchua6 opened #952 "Remove deprecated no-unused-variable"
When I run `ng lint`, it gives a warning that we are using no-unused-variable which is deprecated since Typescript 2.9
![IMAGE 2022-06-29 23:21:29](https://user-images.githubusercontent.com/45702380/176474125-6d251d12-63c3-404d-94fd-5ac6e620f404.jpg)

Probably just a quick fix to our config files.

[2022-06-29 15:44] kevinchua6 opened #953 "Upgrade Typescript version"
Seems like currently CATcher doesn’t support newer typescript operations like optional chaining or the nullish coalescing operator, is it possible to upgrade the typescript version to allow this? or is there any problems that prevent us from upgrading?

Currently we are at version 3.5 and optional chaining is at ver 3.7 I think.

Rationale for this is that without these operators it's much harder

[2022-07-04 15:38] kevinchua6 commented on #830
This seems like an issue worth working on. Prof @damithc is it ok if I try to fix this?

[2022-07-04 15:54] damithc commented on #830
Sure, go ahead @kevinchua6

[2022-07-04 16:04] kevinchua6 commented on #658
@seanlowjk Hi, is it ok if we work on this issue?

[2022-07-09 14:23] cedricongjh opened #961 "Documentation for setting up should recommend nvm instead of installing Node 12"
Just my opinion, but perhaps we could recommend using `nvm` to install `Node 12` in the developer guide:

![image](https://user-images.githubusercontent.com/67156011/178109862-4c982d9f-983a-490a-bf24-3d90566a372b.png)

Reason being that across different OSS and other projects, the Node version might differ and new developers might not realise that they are uninstalling a version that they need for

[2022-07-09 14:58] chunweii commented on #961
I think that is a good idea to include `nvm` in the developer guide. We should also focus on upgrading the node version to at least 14 (see #941), and update the prerequisite node version.

[2022-07-10 14:43] honganhcs commented on #905
Hi, can I work on this issue?

[2022-07-10 15:24] gycgabriel commented on #689
Is it possible to throw an error message based on the action that the user took? E.g. Try to write a dev response -> 403 error -> display "No write permissions to respond to bug report." message on UI. And log this full error message

If not, I'm of the opinion that it's better as is, since it is an error message from Github API.

@CATcher-org/developers @damithc What do you think?

[2022-07-10 21:43] ong6 commented on #905
@honganhcs Go ahead, since it looks like no one else has started on this issue yet.

[2022-07-11 04:39] damithc commented on #689
I'm fine to keep the current error message, as this shouldn't even happen under normal circumstances.

[2022-07-11 12:59] kevinchua6 commented on #689
I think we can close this issue in this case then!

[2022-07-12 02:49] #689 closed

[2022-07-12 02:51] #945 closed

[2022-07-12 03:15] #944 closed

[2022-07-12 03:33] #906 closed

[2022-07-12 04:00] #948 closed

[2022-07-12 05:21] #905 closed

[2022-07-12 06:21] #952 closed

[2022-07-12 06:30] #924 closed

[2022-07-12 06:38] #787 closed

[2022-07-12 06:41] honganhcs commented on #901
Hi, should this issue be closed since it is resolved by #956?

[2022-07-15 04:51] snss231 opened #968 "Improve display of issueTables at smaller window sizes"
I would like to propose a few minor improvements to the `issueTableComponent`.

Currently, near the minimum table width of 1000px, for tables with a lot of columns such as the issues responded section in the Tester's Response Phase, we can observe two things:
1. Cells under the `type` column are scrollable when there is not enough space to display all the type labels in one line. It may be better

[2022-07-15 06:18] #901 closed

[2022-07-16 08:48] snss231 commented on #601
@seanlowjk I'd like to take up this issue if no one is working on it

[2022-07-16 15:39] seanlowjk commented on #601
Sure please do! @snss231

[2022-07-17 00:47] dingyuchen commented on #961
`fnm` would also be a good alternative

[2022-07-17 06:46] cheehongw commented on #928
hi, i would like to work on this.

should we continue to use REST or switch over to graphql for some of these API calls? For example `FetchAllLabels` is still using REST.

[2022-07-18 06:49] #940 closed

[2022-07-19 13:45] honganhcs commented on #830
After investigating this issue, I realised that the current menu is centered at the previously selected option. A solution is to disable this centering, which would give the following appearance when the previous option is FeatureFlaw (same as the bug report):

![image](https://user-images.githubusercontent.com/76725246/179764662-df45f922-aeff-42c4-844c-eee005cffd38.png)

![image](https://user-ima

[2022-07-20 16:39] snss231 opened #972 "SessionSelectionComponent: Add Component Test"
As a follow up to #601 (Profiles Component: Add Component Tests), let's add component tests for the `SessionSelectionComponent` to ensure that the correct repository is shown in the input field after a profile is selected by the user.

[2022-07-23 01:32] kevinchua6 opened #975 "Take advantage of Typescript to use more types instead of String"
EDIT: wrong label

[2022-07-23 01:33] kevinchua6 opened #976 "Take advantage of Typescript to use more types instead of String"
Spotted a few cases where types should be used instead of just string
![image](https://user-images.githubusercontent.com/45702380/180585200-da028f7d-f17c-4647-8e40-24c429bcb68c.png)

![image](https://user-images.githubusercontent.com/45702380/180585251-da83adf3-aaba-4879-aa4a-e57bbece96c7.png)

Severity, type, responseTag, status etc can be converted to a type/enum
![image](https://user-images.git

[2022-07-23 01:33] #975 closed

[2022-07-23 01:44] kevinchua6 commented on #93
I would like to discuss how best to do the first part.

Am I correct in understanding that we will split it into two Label objects in the Issue model (severityLabel and typeLabel)? Or should we split it into multiple label subclasses?

I feel like the former is more functional and cleaner. What does the rest think? @seanlowjk @ptvrajsk @KevinCJH @dingyuchen @JunWei96 (I can't @ all the catcher dev

[2022-07-23 04:12] gycgabriel commented on #93
@CATcher-org/developers

The way I understand the first part, it is to store each of the fields as type `Label` instead of `string` that only shows 'high/low'. So that the Label object can be accessed from each Issue object. I'm not sure of the advantage, but it may be better encapsulation or for the label colours can be accessed from the issue directly.

I'm not sure I catch this, each of the fie

[2022-07-23 04:29] gycgabriel commented on #658
@CATcher-org/developers Senior devs, any further thoughts on nock vs fetch mock?

Otherwise @kevinchua6 If you agree with using nock over fetch-mock, I think you can give it a go and continue where zatkiller left off

[2022-07-23 04:32] cheehongw commented on #976
im currently working on `GithubService.fetchAllLabels` and i noticed the lack of typing as well.

mind if i work on the labels?

[2022-07-23 07:12] kevinchua6 commented on #976
Go ahead! Thank you!

[2022-07-23 08:50] kevinchua6 commented on #93
I get what you mean now, thanks for the info Gabriel (was a bit confused on the "fields derived from labels" comment)! Seems like we only need to store a string because we can get the color of the labels from the string already, so there's not really a need to store them as Label objects.

For your suggestion, would it be hard to get a specific label that we want? Seems like we have to go through

[2022-07-24 10:08] gycgabriel commented on #830
I think it's fine as long as it doesn't cover the `Severity` option

[2022-07-24 11:11] gycgabriel commented on #928
I think there may not be great savings in converting from REST to Graphql for most of the other API calls. This is because the other API calls are not as intensive as fetching issues and its comments, though there may be benefit from fixed type and fetching fewer fields. E.g. `Label.description`. It may be good to have but not high priority because of the sheer number of REST API calls to be conve

[2022-07-24 11:26] gycgabriel commented on #93
We can close this issue with #974 if there are no further thoughts on part 1 of this issue

[2022-07-27 14:38] cedricongjh commented on #658
Hi @kevinchua6 if you're not taking this up, may I take this issue? I looked into it and I think I'll be using nock to tackle this issue if its okay with you if I go ahead.

[2022-07-27 14:50] kevinchua6 commented on #658
Sure! Go ahead! @cedricongjh

[2022-07-27 15:52] snss231 opened #980 "Octokit deprecation: require("octokit/rest")"
[@octokit/rest] `const Octokit = require("@octokit/rest")` is deprecated. Use `const { Octokit } = require("@octokit/rest")` instead.

Can be fixed easily by changing a couple lines in the `GithubService` and `MockGithubService.`

[2022-07-29 03:03] #911 closed

[2022-07-31 10:41] jamesyeap opened #986 "Cancel edit warning is displayed when no changes are made"
**Describe the bug**
When a user is editing an issue's title and clicks on the "cancel" button without having made any change to it, the cancel edit warning dialog box will be shown:

https://user-images.githubusercontent.com/34131671/182022219-a391d1f0-6179-4f81-9935-49b53f82286e.mov

The same behaviour exists when a user is editing an issue's description:

https://user-images.githubusercontent.c

[2022-07-31 10:51] jamesyeap commented on #986
Hey everyone!

I made this change during Phase 2 of IWM and would like to propose this fix 😃

[2022-08-01 01:52] jamesyeap opened #987 "Show warning dialog box when cancelling edits for `team response` and `tester response` fields"
**Is your feature request related to a problem? Please describe.**
Currently, when a user cancels edits for an issue's `title` or `description` field, a warning dialog box is shown:

https://user-images.githubusercontent.com/34131671/182057192-a0f72e12-e74e-4ae3-bb6a-00e4b6ae55d9.mov

However, when the user cancels edits for the `team response` and `tester response` fields, no warning dialog box i

[2022-08-01 02:47] jamesyeap opened #988 "Add formatting toolbar to editor"
**Is your feature request related to a problem? Please describe.**
Currently, the comment editor supports GitHub-flavoured markdown formatting.

However, in order to use it, some knowledge of the syntax is required in order to use it.

**Describe the solution you'd like**
To make the editor more accessible to newcomers, perhaps a toolbar with various formatting buttons (such as bold, italics, etc)

[2022-08-01 03:17] damithc commented on #988
@jamesyeap thanks for suggesting this feature. I'm OK to add this feature if changes to the code is minimal (e.g., just link up with a third-party library). I'd rather not increase the code maintenance burden of CATcher on account of this feature as CATcher users are supposed to know the Markdown syntax already. We want to keep CATcher code as small as possible due to its mission critical nature.

[2022-08-01 07:56] jamesyeap commented on #988
@damithc I understand, thanks for explaining the considerations.

I found a third-party library that provides the implementation for the toolbar: [@github/markdown-toolbar-editor](https://github.com/github/markdown-toolbar-element) and have submitted another PR (#990) that implements roughly the same functionality with much fewer changes to the code (around 89 lines or so).

Having given it some t

[2022-08-01 07:59] damithc commented on #988
Yes, let's see what others think too. In any case, you can take credit for the work done even if the PR is not merged in the end.

[2022-08-01 17:42] cedricongjh commented on #976
hi @cheehongw, are you still working on this issue? If not I would like to take it up

[2022-08-02 02:57] cheehongw commented on #976
@cedricongjh nope, go ahead! thanks

[2022-08-02 11:44] jamesyeap commented on #937
Hey @kevinchua6, are you working on this issue? If not, I'd like to try working on this!

[2022-08-02 12:37] kevinchua6 commented on #937
Sure, go ahead!

[2022-08-03 02:46] jamesyeap commented on #937
Can I check if the `Admin` role currently serves an important purpose?
- ie what would a user assigned the `Admin` role in the session do

Asking because I'm proposing that we add all devs in the `data.csv` file and assign them the role of `Admin`.
- After log in, all users with the `Admin` role will be redirected to a page where they can select which phase and which user they would like to previe

[2022-08-03 03:16] damithc commented on #937
For now, we can limit it to previewing only. Yes, it's fine to disallow all edit ops for admin, to prevent accidental changes to data.

Note that the preview feature will only be useful to preview reading ops, not writing ops. Hence, we have to weigh the cost of the added code complexity vs benefit before merging this feature. We might end up deciding not to merge it too (depends on how complex th

[2022-08-03 03:33] jamesyeap commented on #937
Okay, I'll change the permissions for admin in PR #994 and see how it turns out.

[2022-08-03 11:15] #820 closed

[2022-08-04 05:20] jamesyeap commented on #937
I tried another implementation, which seems sufficient to prevent devs from editing issues:

1. Created a new service `PreviewerService`, which stores a single boolean variable `inPreviewMode`, which is set to `false` by default
2. When a user with an Admin role signs in, this variable is set to `true`

In `PermissionsService`, whenever edit permissions for fields is requested, it first checks the

[2022-08-05 01:55] jamesyeap commented on #681
hey is it okay if I take up this issue?

[2022-08-06 10:01] cedricongjh opened #995 "Add unit tests for error-handling.service"
Currently, there are no unit tests for `error-handling.service.ts`, despite it being an essential service for the UX.

Let's add unit tests to describe the behaviour of the ErrorHandlingService.

[2022-08-10 07:05] #830 closed

[2022-08-10 08:32] #968 closed

[2022-08-10 09:13] #816 closed

[2022-08-15 05:23] jamesyeap opened #998 "Add unit tests for `comment-editor` component"
Currently, there are no unit tests for the `comment-editor` component.

Let's add unit tests to describe the behaviour of the component.

[2022-08-20 03:02] #980 closed

[2022-09-19 15:38] #961 closed

[2022-09-19 15:38] #941 closed

[2022-09-19 15:53] #93 closed

[2022-10-01 15:45] damithc opened #1004 "Image uploads not working"
v3.4.3, Windows 10, Chrome 106

I'm encountering these errors when copy-pasting images in a bug report.

When copy pasting from clipboard:

![image](https://user-images.githubusercontent.com/1673303/193417236-156729e0-4a3d-4ffa-8839-588cff6cc65e.png)

When selecting a file using the file chooser:
![image](https://user-images.githubusercontent.com/1673303/193417294-24ea4330-302c-4886-90e4-850de5bb4

[2022-10-01 18:59] cheehongw commented on #1004
found the problem. In upload-text-insertor.ts lines 68, 70, 81:

https://github.com/CATcher-org/CATcher/blob/c54fae4494448b52e755e1b534a217c2cc55bac4/src/app/shared/comment-editor/upload-text-insertor.ts#L62-L82

The use of `this` keyword before `commentTextArea` and `commentField` in a normal function (not a method) causes it to reference `undefined`.

[2022-10-02 07:59] #1004 closed

[2022-10-03 09:44] tau-bar opened #1008 "Extremely long title overflows out of screen width"
**Describe the bug**
Extremely long title overflows out of the screen and results in a weird UI.

**To Reproduce**
Steps to reproduce the behavior:

Create a bug with a very long name.

**Expected behavior**
Could be wrapped instead.

**Screenshots**
![image](https://user-images.githubusercontent.com/61085398/193547460-d28fa894-d826-446c-8a6e-874ee5464347.png)

**Desktop (please complete the follo

[2022-10-07 05:51] #823 closed

[2022-10-07 06:29] #972 closed

[2022-10-07 08:27] #953 closed

[2022-10-09 09:12] damithc opened #1009 "Dev response phase: label colors not shown for response label"
![image](https://user-images.githubusercontent.com/1673303/194748323-149fb118-d3d4-4c00-ba36-9185eee32226.png)

Shouldn't there be a color for this label as well?

[2022-10-10 09:43] bluesky0911 opened #1010 "Log-out issue with clicking on the refresh button on the web browser"
**Describe the bug**
A clear and concise description of what the bug is.
 - when I was on the page of three bug boards, the press of the refresh button made me get out of the system.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'the first page of the system"
2. Click on 'the refresh buttion"
3. Scroll down to '....'
4. See error -> you will get logged out from the system.

**Expect

[2022-10-10 09:55] jamesyeap commented on #1009
### Cause
It seems to be an issue caused by using "responseTag" as the `attributeName` in `view-issue.component.html` (see line 96):
https://github.com/CATcher-org/CATcher/blob/77af00df98ea175841d2a800f3daf39ae3174bc9/src/app/shared/view-issue/view-issue.component.html#L93-L97

The colour of the label is determined using the `attributeName` in `label.service.ts` by the `getColorOfLabel` method:
ht

[2022-10-10 09:59] thikhinab opened #1011 "Validation Fail when submitting response with assignees"
**Describe the bug**
When submitting a response to an issue with all assignees. A toast with `validation error` appears. It creates a response with empty assignees. Furthermore, it does not appear in the `Issues Responded`

- Maybe this occurs due to internal validation to verify that there are maximum of 4/5 assignees

**To Reproduce**
Steps to reproduce the behavior:

1. Click on an Issue
2. Sel

[2022-10-12 14:41] #998 closed

[2022-10-12 15:07] #902 closed

[2022-10-12 16:43] #995 closed

[2022-10-13 09:43] ckcherry23 opened #1012 "Error shown when trying to set assignees"
**Describe the bug**
Setting the assignees for this particular issue did not update the assignees. I got an error message instead. But after going home (back), I saw that the assignees were set for the issue.

**To Reproduce**
Steps to reproduce the behavior:

1. Respond to the issue by changing severity, rejecting it, and adding a screenshot.
2. Click on the issue from the 'Issues responded' tabl

[2022-10-13 12:54] damithc commented on #1012
Thanks for reporting this @ckcherry23
Are you able to reproduce the same behavior consistently or was that a one-time occurrence?

[2022-10-13 13:42] ckcherry23 commented on #1012
This was just a one-time occurrence. I have not been able to reproduce it.

[2022-10-13 15:28] damithc commented on #1012
Noted, @ckcherry23

CATcher devs, if you can guess a possible cause based on the error message, please investigate.

[2022-10-16 12:29] honganhcs commented on #1011
hi can i work on this?

[2022-10-16 12:54] damithc commented on #1011
@honganhcs this bug is not confirmed yet.

@thikhinab is this reproducible reliably? Based on the screenshots, it's possible that another person edited the bug report at the same time.

[2022-10-16 15:57] damithc opened #1014 "Tester responses: All bugs are marked as 'Faulty Issues'"
All bugs are detected as faulty issues
![image](https://user-images.githubusercontent.com/1673303/196045170-30b104da-0fcf-47ec-a4d9-9e33d4defff2.png)

![image](https://user-images.githubusercontent.com/1673303/196045224-f5d976a0-3506-4cae-bdc3-da08b4881434.png)

Here is the actual text of the response (from https://github.com/damithc/alpha6/issues/1):

[code]

[2022-10-16 17:07] clarence-chew opened #1015 "Preview does not show Syntax Highlighting"
**Describe the bug**
The preview does not show syntax highlighting. This is probably a minor bug at best.

**To Reproduce**
Steps to reproduce the behavior:

1. Start writing a new issue
2. Write the following (do not copy, there are zero width spaces between the backticks):
[code]
3. Click "Preview"
4. No syntax highlighting.

**Expected behavior**
Syntax highlighting for Java code.

**Screenshot